.spb{color:#2673c2;}
.pt4{padding-top:4px;}
.pr0{padding-right: 0}
.pl0{padding-left: 0px;}
.pl1{/* padding-left: 1px; */}

.dt100{display:table; width: 100%}
.dtc{display:table-cell;float: none;}
.dtcma{display:table-cell;float: none; vertical-align: middle;}
.vam{vertical-align: middle;}

.mt10 {margin-top: 10px;}

.mb10 {margin-bottom: 10px;}

.construct-item{
    margin: 0 22px 0 0;
    position: relative;
    padding: 15px 20px 2px;
    border-bottom: 1px solid #eaeaea;
}

.construct-item .construct-warning{
    position: absolute;
    color: #73ab36;
    right: 17px;
    top: 16px;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.construct-item .construct-item-content h2{
    font-family: "Noto", "Agora", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: -2px;
    letter-spacing: 1.3px;
}
.construct-item .construct-item-content .construct-content-text{
    font-family: "Noto", "Agora", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 22px;
}

.construct-item-content{
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 40px;
}

.item-btn{
    line-height: 26px;
    position: relative;
    font-size: 11px;
    font-weight: 800;
    text-transform: none;
    letter-spacing: 0.07em;
}


.btn.construct-add-btn{
    line-height: 24px;
    padding-left: 40px !important;
    position: relative;
    font-size: 11px;
    font-weight: 800;
    text-transform: none;
    letter-spacing: 0.07em;
}
.btn.construct-add-btn:after{
    content:'';
    position:absolute;
    width: 15px;
    height: 15px;
    background: url(../img/construct/i_plus.png)no-repeat;
    left: 18px;
    top: 12px;
}

.construct-thumb{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    float: none;
}

.construct-thumb img{
    opacity: 0.5;
}
.cstr-right{
    margin: 0 6px 0 -6px
}

.cstr-right-panel {
    padding: 18px 20px;
    border-bottom: 1px solid #eaeaea;
    margin: 0 -5px;
}

.cstr-h2 {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.cstr-price {
    color: #2673c2;
    font-size: 17px;
    font-weight: bold;
    line-height: 17px;
}

.cstr-btn.btn{
    line-height: 25px;
    font-size: 11px;
    font-weight: 800;
    margin-right: 1px;
    margin-left: 1px;
}

.cstr-ready {
    list-style: none;
    margin:0;
    padding: 0;
}
.cstr-ready li a {
    color: #888888;
    line-height: 20px;
}
.cstr-right-links{
    margin-top: 8px;
}

.i-print.icon {
    height: 20px;
    width: 20px;
    background-position: -41px -910px;
}

.i-man.icon {
    height: 20px;
    width: 20px;
    background-position: -41px -871px;
}

.i-link.icon {
    height: 20px;
    width: 20px;
    background-position: -41px -834px;
}

.cstr-icon-link {
    color: #2673c2;
    display: block;
    text-decoration: underline;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.cstr-count {
    margin: 20px 22px 40px 0;
    position: relative;
    padding: 29px 24px 29px 31px;
    border-bottom: 1px solid #eaeaea;
}

.cstr-count > .container{
    width: auto;
    padding: 0;
}

.cstr-btn-big.btn {
    line-height: 33px;
    font-size: 17px;
    font-weight: 800;
    padding-left: 41px;
    padding-right: 42px;
    padding-bottom: 10px;
    margin: auto;
    text-transform: none;
    letter-spacing: 0.054em;
}

.cstr-btn-big-cont{
    padding-left: 26px;
}

.cstr-count-h2 {
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: -4.3px;
}

.cstr-count-res {
    color: #2673c2;
}

.del-link {
    color: #fe436c;
    font-size: 11px;
    display: inline-block;
    line-height: 14px;
}

.del-link:hover{
        color: #fe436c;
}

.del-link .icon.ic-delete{float:left;} 
.bg-grey{background:#f5f5f5;}
.no-ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sttr-pop-menu li {
    display: inline-block;
    margin-right: 7px;
}

.sttr-pop-menu a {
    color: #2673c2;
    text-decoration: underline;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.07em;
}

#construct > .header span {
    font-size: 24px;
    line-height: 34px;
}

.js-cstr-pop-header {
    font-size: 22px;
    line-height: 36px;
}

#construct > .header {
    padding: 20px 40px;
}

#construct > .header a {
    top: 12px;
    right: 18px;
}
#construct > .body.box-side {
    padding: 24px 20px 24px 21px;
}
.sttr-pop-menu {
    padding: 1px 0 29px 20px;
}

#construct .nano{height: 500px;}

#construct .nano-slider{
    background: #2673c2;
    border-radius: 0;
}

#construct .nano-pane {
    margin-top: 0;
    right: 0px;
    background: #fff;
    width: 6px;
    padding: 0;
    opacity: 1;
}

.cstr-pop-list {
    padding-right: 31px;
}
.ctrs-pop-item{
    padding: 32px;
    border-bottom: 1px solid #eaeaea;
}

.cstr-pop-thumb{
    width: 82px;
    margin-right: 37px;
}
.cstr-pop-text{
    width: 100%;
}
.ctrs-popt-h2 {
    font-weight: bold;
    letter-spacing: 0.043em;
}

.ctrs-pop-item-content {
    width: 64%;
}

.choosen-item .construct-thumb img {
    opacity: 1;
}

.choosen-item .ctrs-pop-item-content {
    padding: 13px 0 0 2px;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.choosen-item .btn-group{
    margin-top: 21px;
}

.choosen-item .change-btn {
    padding-right: 34px;
    padding-left: 14px;
}

.choosen-item .del-btn {
    margin-left: -9px;
}

.choosen-item .del-btn i {
    margin-right: 9px;
    margin-top: -2px;
}


.change-btn .icon.ic-change {
    padding-right: 24px;
}

.construct-warning-mob{
        color: #73ab36;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin-bottom: -10px;
}