.contacts-navigator .filter-box input[type="text"],
.contacts-navigator .filter-box input[type="tel"] {
	margin:0;
}

.filter-box .cities-list {
	margin:10px 0 ;
}
.filter-box .cities-list > li > .count {
	color: #26b;
    font-weight: bold;
	padding-left:10px;
	font-size:11px
}
.filter-box .cities-list > li {
	display: block;
    padding: 5px 20px;
    position: relative;
}
.filter-box .cities-scroller {
	height: 772px;
	overflow: hidden;
}
.contacts-navigator .map-container .map-viewport {
	width: 100%;
    min-height: 600px;
	border-left: 1px solid #eaeaea;
}
.contacts-navigator .map-container {
	border-top: 1px solid #eaeaea;
	margin-top:-1px;
}

.contacts-navigator .map-container .radio-group {
	    padding: 20px;
    border-left: 1px solid #eaeaea;
}
.contacts-navigator .map-container .radio-group > li {
	float: left;
    margin-right: 15px;
    font-size: 12px;
}
.contacts-navigator .map-container .radio-group > li > span.title { margin-left:0}

.contacts-tabs {margin-bottom: 40px;}

.contacts-navigator .bigphone > span {
	color:#2773BF;
}
.contacts-navigator .bigphone {
	font-size: 34px;
    line-height: 34px;
    color: #444;
	padding:10px 0;
}
.contacts-navigator .address {}
.contacts-navigator .email > a > span {
	color:#444;
	padding:0;
}
.contacts-navigator .email {}

.contacts-navigator .contacts-info > div{padding-top:15px;}
.contacts-navigator .contacts-info b{padding-top:15px; display: block;}
.contacts-navigator .contacts-info ul{padding-bottom: 15px;}

.contacts-sections {
	padding: 0 20px 0 0;
}


.with-icon-right > i {
	-webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.with-icon-right.collapsed > i {
	-webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.route-helper {
	font-size: 17px;
    margin: 20px 0;
    max-width: 500px;
	clear:both;
}
.route-images > img {
	max-width: 50%;
    padding-bottom: 15px;
    padding-right: 15px;
    float: left;
}
.route-images {
	overflow:hidden;
}
.route-images.center {
	text-align: center;
}

ul.address {
	width: 70%;
    padding: 0 0 40px;
    font-size: 15px;
}
ul.address > li {padding:0 0 5px; overflow:hidden; clear:both;}
ul.address > li > span {display:inline-block; width:30%; float:left}
ul.address > li > b {display:inline-block; width:70%; float:left}



.tt-hint {
    display: none;
}
.info-block h3 {
    margin-top: 10px;
}
.info-block{
    margin-bottom: 0px;
}
.tt-dropdown-menu {
    z-index: 1051;
    margin-top: 2px;
    text-align: left;
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    position: relative;
    width: 221px;
    border: 1px solid #d9d9d9 !important;
    margin-left: 6px;
    margin-top: 5px;
    cursor: pointer;
}
.tt-dropdown-menu .tt-suggestion {
    padding: 5px 10px;
    font-size: 16px;
    color: #0229a7;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor {
    background: #3C81C8 !important;
    color: #ffffff !important;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor p {
    color: #ffffff !important;
}
.tt-dropdown-menu .tt-suggestion p {
    margin: 0;
    width: 290px !important;
}
.tt-dropdown-menu .tt-suggestion:nth-child(even) {
    background: #F1F1F1;
}

.map-viewport .app-wrap-map-balloon a {
	color: #2773BF;
	text-decoration: underline;
}
.map-viewport .app-wrap-map-balloon a:hover {
	color: #000;
}

#store-info {
	width: 450px;
	margin-left: -150px;
}
#store-info .row {
	margin: 0;
	min-height: 600px;
}
#store-info iframe {
	width: 450px;
	height: 100%;
	border: 0;
	min-height: 600px;
}
@media (max-width: 575px) {
	#store-info {
		width: 100%;
		margin-left: 0;
		left: 0;
	}
	#store-info .row {
		min-height: 500px;
	}
	#store-info iframe {
		min-height: 500px;
	}
}

#offices .app-wrap-map-balloon img {
	margin-right: 7px;
}