.form-inner {
	padding: 55px 83px;
}
.form-inner .h2 {
	font-size: 15.4px;
    font-weight: bold;
	margin:0
}
.form-inner p {
	margin:0 0 10px;
}
.form-inner .separator {
	padding: 25px 0px;
}
.form-inner label {
    padding: 2px 0 15px;
    font-size: 12.8px;
	font-weight: 100;
}
.form-inner input[type="text"], .form-inner input[type="tel"], .form-inner textarea {
    margin: 0 0 35px;
    width: 100%;
	max-width: 100%;
    border: 1px solid #eaeaea;
    padding: 12px;
}
.form-inner .btn-primary {
    width: 100%;
    font-size: 17px;
    padding: 13px;
	border:0;
}
.form-inner .orderfail textarea {
	margin: 0 0 15px;
}
.form-elements label {
	display: block;
    padding: 0 0 25px;
	line-height: 13px;
	font-weight: normal;
}
.form-elements label > span {
	display: inline-block;
    padding: 0 0 5px;
    color: #999;
    float: left;
    position: relative;
	font-size: 13px;
}
.form-elements label.require > span:after {
	content: '*';
    color: #2773BF;
    font-size: 21px;
    line-height: 21px;
    position: absolute;
    top: -2px;
    right: -15px;
}
.form-elements [type="text"],
.form-elements [type="tel"],
.form-elements [type="password"],
.form-elements textarea,
.form-elements .dropdown-select {
	background-color: #f5f5f5;
    border: 1px solid #eaeaea;
    width: 100%;
	max-width: 100%;
    clear: both;
	outline: none;
	line-height: 20px;
	padding: 10px;
	font-size:13px;
}
.form-elements .dropdown-select {
	padding: 0;
	border: 0;
}
.form-elements .dropdown-select > a {
	border-color: #eaeaea;
}
.form-elements .group-header {
   font-size: 16px;
    margin: 0;
    padding: 0 0 20px;

}
.form-elements .checkbox-group {
	margin:0;
	padding: 12px 0;
	list-style: none;
}
.form-elements .checkbox-group li {
	padding-left: 45px;
}
.form-elements .radio-group {
	margin:0;
	padding: 12px 0;
	list-style: none;
}
.form-elements .radio-group > li {
	padding:0 0 10px;
}
.form-elements .radio-group li.double > span {
	line-height: 15px;
	padding-left: 20px;
}
.form-elements .radio-group li > span > span {
	font-weight: bold;
}
.form-elements .require-text {
	padding: 5px 15px;
	font-size: 11px;
	color: #404040;
	position:relative;
}
.form-elements .require-text:before {
	content: '*';
    color: #2773BF;
    font-size: 21px;
    line-height: 21px;
    position: absolute;
    top: 5px;
    left: 2px;
}
.radio-group.unsubscribe {
	padding: 20px 0 35px;
}
.radio-group.unsubscribe li{
	padding: 10px 0 9px;
    font-size: 11px;
}
.form-quality-box {
	padding-top: 32px;
	padding-bottom: 3px;
}
.form-quality-box p{
	padding: 0 0 5px;
}
.form-quality-box .radio-quality-review {
	overflow:hidden;
}
.form-quality-box .radio-quality-review a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #f5f5f5;
    color: #2773BF;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-right: 8px;
    line-height: 48px;
    float: left;
	cursor:pointer;
}
.form-quality-box .radio-quality-review a.active, .form-quality-box .radio-quality-review a:hover {
	background-color: #2773BF;
	color:#fff;
	text-decoration: none;
}
.dropdown-select {
	display: inline-block;
    min-width: 193px;
    position: relative;
	vertical-align: middle;
}
.dropdown-select > a {
	display: inline-block;
    padding: 10px 15px;
    width: 100%;
    position: relative;
}
.dropdown-select > a > i {
	position: absolute;
    top: 16px;
    /*font-weight: bold;*/
    right: 16px;
}
.dropdown-select.open > a > i {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
	transform-origin: 50%;
}
.dropdown-select > a:hover {
	color:#000;
	text-decoration: none;
}
.dropdown-border > a {
	border:1px solid #ddd;
}
.dropdown-border > a:hover, .dropdown-border.open > a {
	border:1px solid #999;
}
.dropdown-menu.extended > li > a {
    display: block;
    padding: 9px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: normal;
    font-size: 12px;
}
.dropdown-menu.extended {
   padding: 1px 0;
    margin: 4px 0;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #fff;
    border-top-color: #f5f5f5;
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: initial;
    width: 100%;
    /*max-width: 180px;*/
}

.dropdown-select.open .dropdown-menu.extended {
    display: block !important;
}

.dropdown-menu.extended .divider {
	margin:1px;
}
.dropdown-menu.extended .dropdown-header {
	display: block;
    padding: 5px 20px;
    font-size: 11px;
    line-height: 1.42857143;
    color: #999;
    white-space: nowrap;
}

/* checkboxes */
ul.checkbox-group {
	padding:0 20px;
}
.checkbox-group > li {
    position: relative;
    font-size: 12px;
    min-height: 35px;
	font-weight: bold;
	color: #404040;
    padding: 6px 0 0 35px;
    line-height: 17px;
	cursor:pointer;
}
.checkbox-group > li.limit {
	max-width: 200px;
}
.checkbox-group > li.multiline {
	padding-top: 0;
    line-height: 14px;
}
.checkbox-group .count {
	color: #26b;
    font-weight: bold;
}
.checkbox-group > li > [type="checkbox"] {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
	z-index:-1;
}
.checkbox-group > li:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
	font-size:0;
	padding: 2px 0 0 1px;
    background-color: #f5f5f5;
    border: 1px solid #eaeaea;
	-o-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
	background-position: center 0;
}
.checkbox-group > li.checked:before {
	background: #27c url(../img/check-white.png) center center no-repeat;
    border-color: #26b;
}

/* tabs */
.tabs-list {}
.tabs-list > a {
	font-size: 15px;
    font-weight: 800;
    display: inline-block;
    border-bottom: 3px solid #fff;
	padding: 0 0 2px;
	margin-right: 35px;
	outline:none;
	color:#999;
}
.tabs-list > a:hover {
	color:#2773BF;
	text-decoration: none;
}
.tabs-list > a:last-child {
	margin-right: 0;
}
.tabs-list > a.active {
	border-bottom: 3px solid #2773BF;
	color:#000;
}

.tabs-viewport {
	/*overflow: hidden;*/
        overflow-y:hidden;
	height: 100%;
}
.static-list .tabs-viewport {
	overflow-y: visible;
}
.tabs-viewport > .tab {
	display:none;
	padding-top:28px;
}
.tabs-viewport > .tab.active {display:block;}

/* countbox (header + cart)*/
.countbox {
	width: 110px;
    padding: 0 27px;
    display: inline-block;
    height: 30px;
	position: relative;
}
.countbox > a {
	position: absolute;
    display: inline-block;
    width: 27px;
    height: 100%;
    top: 0;
    text-align: center;
    font-weight: normal;
    line-height: 30px;
	color:#999;
}
.countbox > a:hover {
	color:#2773BF;
}
.countbox > a:before{
	content:'';
	background: url(../img/icon-set.png) no-repeat 0 0;
	display: inline-block;
	width: 26px;
    height: 28px;
}
.countbox .plus {
	right: 0;
    border: 1px solid #eaeaea;
    border-left: 0;
}
.countbox .plus:before {
	background-position: 7px -302px;
}
.countbox .plus:hover:before{
	background-position: -30px -302px;
}
.countbox .minus {
	left: 0;
    border: 1px solid #eaeaea;
    border-right: 0;
}
.countbox .minus:before {
	background-position: 7px -270px;
}
.countbox .minus:hover:before{
	background-position: -30px -270px;
}
.countbox > input {
	width: 100%;
    height: 100%;
    margin: 0;
	background-color: #f5f5f5;
	color:#999;
	text-align: center;
	font-size:12px;
	border: 1px solid #eaeaea;
	outline: none;
}

.form-quickpay a.pseudo {
	margin-bottom: 18px;
}
.form-quickpay {
	width:320px;
	display: inline-block;
	padding: 40px 0;
}
.form-elements.form-quickpay [type="text"], .form-elements.form-quickpay [type="tel"], .form-elements [type="password"]{
	margin:0;
}

.radio-group.radio-small > li:before {
	margin-top: 2px;
    width: 21px;
    height: 21px;
}
.radio-group.radio-small > li.checked:before {
	margin-top: 2px;
    width: 21px;
    height: 21px;
}
.radio-group.radio-small > li {
	line-height: 25px;
		font-size: 12px;
}

.checkbox-group > li.disabled {
	opacity: 0.5;
	cursor: default;
}