/*Icon*/
.icon {
    background: url(/img/icon-set.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}
.icon-big {
    background: url(/img/icon-set-big.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}
.icon-paymethods {
    background: url(/img/icon-set-paymethods.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}
.ic-news {
    background-position: 0 -124px;
    height: 16px;
    width: 14px;
}
.ic-stock {
    background-position: 0 -140px;
    height: 13px;
    width: 18px;
}
.ic-cart {
    background-position: 0 -56px;
    height: 16px;
    width: 18px;
}
.ic-mail{
    background-position: -19px -90px;
    width: 19px;
    height: 14px;
    display: initial;
}
.ic-mess{
    width: 18px;
    height: 15px;
    background-position: 0px -1204px;
}

.ic-clock{
    width: 16px;
    height: 17px;
    background-position: 0px -1244px;
}
.ic-arrow-down-footer{
    background-position: -40px -1284px;
    width: 20px;
    height: 9px;
    margin-top: -6px;
}

.ic-arrow-down-footer:hover{
    background-position: -83px -1284px;
}

.cycle-opener a:hover .ic-arrow-down-footer {
    background-position: -83px -1284px;
}
.icon.ic-change {
    height: 20px;
    width: 20px;
    background-position: 0 -949px;
}
.ic-question{
    width: 13px;
    height: 13px;
    background-position: -20px -74px;
}
.icon.ic-delete {
	width: 12px;
    height: 12px;
    background-position: 1px -248px;
}
.icon.ic-close {
	width: 12px;
    height: 12px;
    background-position: -36px -248px;
}
.icon.ic-compare:hover{
	background-position: -34px -546px;
}
.icon.ic-infinity {
	width: 17px;
    height: 10px;
    background-position: 1px -988px;
}
.icon.ic-infinity:hover, .active > .icon.ic-infinity {
	width: 17px;
    height: 10px;
    background-position: -43px -988px;
}
.icon.ic-grid, .icon.ic-list, .icon.ic-list2 {
	width: 17px;
    height: 17px;
}
.icon.ic-grid {
	background-position: 2px -1059px;
}
.active > .icon.ic-grid {
	background-position: -41px -1059px;
}
.icon.ic-list {
	background-position: 3px -1097px;
}
.icon.ic-arrow-down {
	background-position: 0px 0px;
    width: 7px;
    height: 4px;
}
.icon.ic-arrow-down {
	background-position: 0px 0px;
    width: 7px;
    height: 4px;
}
.icon.ic-arrow-down-white {
    width: 9px;
    height: 5px;
	background-position: -15px 0;
}
.active > .icon.ic-list {
	background-position: -40px -1097px;
}
.icon.ic-arrow-left {
	width: 17px;
    height: 13px;
    background-position: -66px 1px;
}
.icon.ic-list2 {
	background-position: 3px -1021px;
}
.ic-gift{
    width:20px;
    height:20px;
    background-position:0px -347px;
}
.ic-car{
    width:25px;
    height:18px;
    background-position:0px -392px;
}
.icon.ic-apple{
    width:15px;
    height:15px;
    background-position:0px -435px;
}
.ic-eye-close{
    width: 16px;
    height: 10px;
    background-position: -0px -477px;
}

.ic-eye-open{
    width:16px;
    height:10px;
    background-position:-123px -477px;
}
.ic-check{
    width:10px;
    height:7px;
    background-position:0px -514px;

}
.ic-compare{
    width:10px;
    height:12px;
    background-position:0px -546px;
}
.ic-cart-white{
    width:18px;
    height:16px;
    background-position:-36px -56px;
}
.ic-cart-black{
    width:18px;
    height:16px;
    background:url(/img/cart-icon-black.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}
.ic-cart-blue{
    width:22px;
    height:20px;
    background:url(/img/cart-icon-blue.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}
.ic-cart-blue:hover{
    background:url(/img/cart-icon-yellow.png) no-repeat 0 0;
}
.ic-cart-green{
    width:22px;
    height:20px;
    background:url(/img/cart-icon-green.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}
.ic-compare-active{
    width:10px;
    height:12px;
    background-position:-34px -546px
}
.ic-dropdown{
    background-position:-7px 0px;
    width:7px;
    height:4px;
}
.ic-plus-white{
    width:10px;
    height:10px;
    background-position:-111px -311px;
}
.ic-minus-white{
    width:10px;
    height:2px;
    background-position:-111px -283px;
}
.ic-slide-prev{
    width:13px;
    height:10px;
    background-position:-34px -583px;
    cursor:pointer;
}
.ic-slide-next{
    width:13px;
    height:10px;
    background-position:-68px -583px;
    cursor:pointer;
}
.ic-sd-zakazberry,
.ic-sd-zb{
    width:20px;
    height:14px;
    background:url(/img/icon-sd-zb.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}
.ic-sd-PICK_POINT{
    width:20px;
    height:21px;
    background:url(/img/icon-sd-pp.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}
.ic-sd-KNOW_HOW{
    width:30px;
    height:18px;
    background:url(/img/icon-nh-bb.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}
.ic-sd-IML_PICKUP,
.ic-sd-IML_DELIVERY{
    width:27px;
    height:17px;
    background:url(/img/icon-sd-iml.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
	left: -9px !important;
}
.ic-sd-DELIVERY_BOXBERRY,
.ic-sd-PICKUP_BOXBERRY{
    width:19px;
    height:19px;
    background:url(/img/icon-sd-bb.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}

.ic-sd-SDEK_DELIVERY,
.ic-sd-PICKUP_SDEK{
    width:22px;
    height:21px;
    background:url(/img/icon-sd-sd.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}
.ic-sd-123{
    width:20px;
    height:19px;
    background:url(/img/icon-sd-123.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}
.ic-sd-payments {
	display: inline-block;
	margin: 0 0 0 10px;
}
.ic-sd-mir{
    width:25px;
    height:25px;
    background:url(/i/mir-logo.svg) no-repeat 0 50%;
	background-size: contain !important;
    display: inline-block;
    vertical-align: middle;
}
.ic-sd-visa{
    width:25px;
    height:25px;
    background:url(/i/visa-logo.svg) no-repeat 0 50%;
	background-size: contain !important;
    display: inline-block;
    vertical-align: middle;
	margin-left: 4px;
}
.ic-sd-mastercard{
    width:25px;
    height:25px;
    background:url(/i/mastercard-logo.svg) no-repeat 0 50%;
	background-size: contain !important;
    display: inline-block;
    vertical-align: middle;
	margin-left: 4px;
}
.ic-sd-EUROSET_PICKUP{
    width:23px;
    height:23px;
    background:url(/img/icon-set-paymethods.png) no-repeat 0 -749px;
    display: inline-block;
    vertical-align: middle;
}
.ic-in-cart{
    width:20px;
    height:20px;
    background-position:0px -104px;
}
.ic-comment-white{
    width: 10px;
    height: 6px;
    background-position: -0px -1174px;
}

.icon.flip {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

/* Other */
.icon-paymethods.wallet{
	width: 40px;
    height: 34px;
    background-position: 5px -489px;
}
.icon-paymethods.mir{
	width: 42px;
    height: 34px;
    background: url('/i/mir-logo.svg') no-repeat 0 50%;
	background-size: contain;
	margin: 0 7px;
}
.icon-paymethods.visa{
	width: 42px;
    height: 34px;
    background-position: 5px -232px;
}
.icon-paymethods.yandex{
	height: 34px;
    width: 55px;
    background-position: -70px -443px;
}
.icon-paymethods.alphabank{
	width: 115px;
    height: 34px;
    background-position: 5px -393px;
}
.icon-paymethods.webmoney{
	width: 77px;
    height: 34px;
    background-position: 5px -444px;
}
.icon-paymethods.card{
	width: 40px;
    height: 38px;
    background: url('/i/icon-payment-online.png') no-repeat;
}
.icon-paymethods.bank{
	width: 40px;
    height: 34px;
    background-position: 5px -337px;
}
.icon-paymethods.creditline{
	width: 40px;
    height: 40px;
    background: url('/i/icon-payment-credit.png') no-repeat;
}
.icon-paymethods.own {
	width: 30px;
    height: 30px;
    background-position: 12px 5px;
}
.icon-paymethods.sdek {
	width: 30px;
    height: 30px;
    background-position: 10px -181px;
}
.icon-paymethods.inpost {
	width: 30px;
    height: 30px;
    background-position: 7px -40px;
}
.icon-paymethods.pickpoint {
	width: 30px;
    height: 30px;
    background-position: 9px -88px;
}
.icon-paymethods.boxberry {
	width: 30px;
    height: 30px;
    background-position: 10px -133px;
}
.icon-paymethods.iml {
	width: 30px;
    height: 30px;
	background: url('/i/iml-sel-formap.png') no-repeat 50% 0;
}
.icon-paymethods.zakazberry {
	width: 30px;
    height: 30px;
	background: url('/i/carriers/zakazberry.png') no-repeat 50% 50%;
	background-size: 23px 23px;
}
.icon-paymethods.own {
	width: 30px;
    height: 30px;
	background: url('/i/123-sel-formap.png') no-repeat 50% 50%;
	background-size: 23px 23px;
}
.icon-paymethods.kh {
	width: 30px !important;
    height: 18px;
    background: url('/img/icon-nh-bb.png');
}

.active > .icon.ic-list2 {
	background-position: -40px -1021px;
}

.ic-credit-alfa {
    width:20px;
    height: 32px;
    background:url("/img/icon-credit-alfa.png") no-repeat center center;
    display:inline-block;
}
.ic-credit-mig {
    width:36px;
    height: 36px;
    background:url("/img/icon-credit-mig.png") no-repeat center center;
    display:inline-block;
    margin-top: -3px;
}