@charset "utf-8";
html, body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: black;
    font: normal 16px/18px "Calibri", "Verdana", sans-serif;
}

h1 {
    margin: 0;
    padding: 30px;
}

table {
    width: calc(100% - 60px);
    margin: 30px;
    border: .1mm solid #909090;
    border-collapse: collapse;
}

thead th {
    font-size: 15px;
    line-height:17px;
    padding: 2mm 0;
    border: .1mm solid #909090;
}
tbody td, tfoot td {
    font-size: 15px;
    line-height: 17px;
    padding: 4px 8px;
    border: .1mm solid #909090;
    text-align: right;
    font-family: "Courier New";
}

tbody td:nth-child(1) { width: 30px; text-align: right; }
tbody td:nth-child(2) { width: 30%; text-align: left; font-family: "Calibri";}

tfoot td {
    text-align: right;
}
tfoot tr:nth-child(1) td { font-weight: bold; }