@media (max-width: 991px){
    .lk-manager{
        max-width:350px;
    }
}

.lk-manager{
    display: none;
}
.va-middle:before{
    content:"";
    height:100%;
    vertical-align:middle;
    display:inline-block;
}
.lk-logo{
    position:absolute;
    top:0px;
    left:30px;
}
.lk-main{
    padding: 0 20px;
    position:relative;
    /*background:#ddd;*/
}
.lk-main a,.lk-main a:hover,.lk-main a:focus{
    text-decoration:none;
}
.lk-clear{
    clear:both;
}
.lk-back{
}
.lk-back-link:hover,.lk-back-link:focus{
    color:#888888;
}
.lk-back-link{
    padding:0 0 0 23px;
    color:#888888;
    font-size:13px;
    font-weight: bold;
    line-height:27px;
    margin-left: 3px;
    position:relative;
}
.lk-back-link:before{
    content:"";
    width:13px;
    height:10px;
    position:absolute;
    background: url(../img/icon-set.png) 0px -583px no-repeat;
    top:3px;
    left:0px;
}

.lk-title {
    padding-bottom:13px;
    line-height: 32px;
}
.lk-title > h1{
    margin-bottom:0px;
}
.lk-order-main{
    background:#fff;
    padding-bottom:30px;
    margin-bottom:30px;
}
.lk-order-wrapper{
    padding:0 0;
    font-size:13px;
}

.lk-menu{
    text-align:center;
    width:100%;
    position:relative;
    padding-bottom: 23px;
}
.lk-menu ul{
    display:inline-block;
    padding:0 0 0 0;
    margin: 27px 0 0 0;
}
.lk-menu ul li{
    margin:0;
    display:inline-block;
    margin-left:3px;
}
.lk-menu ul li:first-child{
    margin-left:0px;
}

.lk-menu a.lk-menu-cart .icon{
    width:18px;
    height:16px;
    background-position: 0px -662px;
}
.lk-menu a.lk-menu-reserves .icon{  
    width:18px;
    height:18px;
    background-position: 0px -703px;
}
.lk-menu a.lk-menu-profile .icon{
    width:16px;
    height:19px;
    background-position: 0px -792px;
}
.lk-menu a.lk-menu-tracking .icon{
    width:16px;
    height:21px;
    background-position: 0px -746px;
}

.lk-menu li.active a.lk-menu-cart .icon,.lk-menu li:hover a.lk-menu-cart .icon{
    background-position: -43px -662px;
}
.lk-menu li.active a.lk-menu-reserves .icon,.lk-menu li:hover a.lk-menu-reserves .icon{
    background-position: -43px -703px;
}
.lk-menu li.active a.lk-menu-profile .icon,.lk-menu li:hover a.lk-menu-profile .icon{
    background-position: -43px -792px;
}
.lk-menu li.active a.lk-menu-tracking .icon,.lk-menu li:hover a.lk-menu-tracking .icon{
    background-position: -43px -746px;
}
.lk-menu a{
    display:inline-block;
    width:51px;
    height:51px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    border: 1px solid #f5f5f5;
    background-color:#fff !important;
}
.lk-menu li.active a,.lk-menu li:hover a{
    margin:0 0 0 0;
    background-color:#0a4c91 !important;
    width:51px;
    height:51px;
    border:none;
}
.lk-products{
    line-height:18px;
    color:#474747;
}
.lk-products > .lk-p-320-block{
    padding: 25px 33px;
    border-top:1px solid #eaeaea;
    position:relative;
}

.lk-p-320-block.lk-shadowed{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.lk-p-info-wrapper-320{
    display:block;
}
.lk-p-info-wrapper-320.lk-collapsed{
    display:none;
}
.lk-p-info-wrapper{
    display:block;
}

.lk-p-order-number:hover,.lk-p-order-number:focus{
    color:#2673c2;
}
.lk-p-order-number{
    color:#2673c2;
    display:inline-block;
    border-bottom:1px solid;
    font-weight:bold;
    line-height:100%;
}
.lk-p-status{
    margin-top:9px;
    padding-bottom: 9px;
}
.lk-p-status-text{
    color:#000;
    font-weight:bold;
}
.lk-status-paid{
    color:#73ab36;
}
.lk-status-reseve{
    color:#000;
}
.lk-status-set{
    color:#2673c2;
    font-weight:bold;
}
.lk-p-show{
    padding-bottom:2px;
    float:left;
    width:100%;
}
.lk-p-show-text:hover,.lk-p-show-text:focus{
    color:#2673c2;
}
.lk-p-show-text{
    color:#2673c2;
    display:inline-block;
    border-bottom:1px solid;
    font-weight:bold;
    line-height:100%;
}
.lk-p-info{

}
.lk-p-info-delivery{
    float:left;
    width:100%;
}
.lk-p-info-delivery b{
    color:#000;
}
.lk-p-list{
    padding: 25px 0 0 0;
    float:left;
    width:100%;
}
.lk-p-product{
    padding-bottom:27px;
}
.lk-p-product-name{
    color:#000;
    font-weight:bold;
    line-height: 16px;
}
.lk-p-product-venrate{
    margin-top:13px;
    color:#a4a4a4;
    line-height:19px;
    float:left;
}
.product-rate{
    display:inline-block;
}
.product-rate > i{
    background:url(../img/icon-star-gray.png) center center no-repeat;
    display:inline-block;
    width:13px;
    height:13px;
    position:relative;
    top:1px;
}
.product-rate-1 i:nth-child(-n+1),
.product-rate-2 i:nth-child(-n+2),
.product-rate-3 i:nth-child(-n+3),
.product-rate-4 i:nth-child(-n+4),
.product-rate-5 i:nth-child(-n+5){
    background:url(../img/icon-star-orange.png) center center no-repeat;
}
.lk-p-product-prcount{
    margin-top:13px;
    float:right;
    text-align:right;
    line-height:19px;
}
.lk-p-product-count{
    color:#000;
    font-weight:bold;
}
.lk-p-product-price{
    color:#2673c2;
    font-weight:bold;
}
.lk-p-buttons{
    margin-top:2px;
    float:left;
    width:100%;
    padding-bottom:25px;
}
.lk-button-pay{
    width:100%;
    padding:7px 20px;
}
.lk-button-cancel{
    width:100%;
    padding:7px 20px;
    margin-top: 6px;
}
.lk-p-more{
    margin-top:21px;
    font-weight:bold;
    text-align:center;
}
.lk-p-more a{
    color:#888;
}
.lk-p-more-link{
    display:none;
}
.lk-table-head{
    display:none;
}
.lk-hint{
    display:none;
}
.lk-button-r{
    display:none;
}
.lk-button-d{
    display:none;
}
/*profile*/
.lk-profile-main{
    background: #fff;
    margin-bottom: 30px;
}
.lk-profile-main .lk-menu{
    padding-bottom:22px;
}
.lk-profile-wrapper{
    padding: 0px 30px 30px 30px;
}
.lk-profile-tabs{
    border-top:1px solid #eaeaea;
    font-weight:bold;
    padding-top: 26px;
}
.lk-pt-contacts{
    width:100%;
}
.lk-pt-contacts span{
    font-size:15px;
    display:inline-block;
    border-bottom:3px solid #2673c2;
    padding-bottom: 3px;
}
.lk-pt-password{
    margin-top: 12px;
    width:100%;
}
.lk-pt-password a{
    display:inline-block;
    border-bottom:1px solid;
    color:#888;
    line-height: 100%;
}
.lk-pfb-input{
    position:relative;
}
.lk-pfb-input-date{
    position:relative;
    width:72%;
}
.lk-pfb-input-date input{
   /* background: url(../img/icon-datepicker-button.png) !important;*/
   padding-right: 32px;
}
.lk-pfb-input-date > .icon{
    position:absolute;
    width:18px;
    height:19px;
    right: 12px;
    top:50%;
    margin-top:-9.5px;
    cursor: pointer;
    background-position:0px -618px;
}
.lk-pfb-input-date > .icon:hover{
    background-position:-43px -618px;
}
.lk-pfb-input input[type="text"],
.lk-pfb-input input[type="tel"],
.lk-pfb-input input[type="password"]{
    font-size:13px;
    width:100%;
    border:1px solid #eaeaea;
    background:#f5f5f5;
    padding: 10px;
}
.lk-pfb-require{
    font-size:32px;
    color:#2673c2;
}
.lk-pfb-input label{
    display:inline-block;
    position:relative;
    font-weight:normal;
    padding-bottom: 15px;
    color:#404040;
}
.lk-pfb-input label.require:after{
    content: '*';
    color: #2773BF;
    font-size: 21px;
    line-height: 21px;
    position: absolute;
    top: -2px;
    right: -15px;
}
.lk-pfb-hint{
    font-size:11px;
    color:#888;
    position:relative;
    padding-left: 16px;
    margin-top: 12px;
}
.lk-pfb-hint:before{
    content: '*';
    color: #2773BF;
    font-size: 21px;
    line-height: 21px;
    position: absolute;
    top: 1px;
    left: 0px;
}
.lk-pfb-gender-container input[type="radio"]{
    display:none;
}
.radio-group > li {
    line-height: 31px;
    cursor:pointer;
}
.radio-group > li  > span.title{
    display: inline-block;
    margin-left: 10px;
}
.radio-group > li:before{
    width: 29px;
    height: 29px;
    border: 1px solid #eaeaea;
    background: #f5f5f5;
    content: "";
    display: inline-block;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    float: left;
}
.radio-group > li.checked:before{
    width: 29px;
    height: 29px;
    background: #2673c2 url(../img/radio-circle.png) center center no-repeat;
    content:"";
    border:none;
}
.radio-group > li  > [type="radio"]{display:none;}

.lk-pfb-gender .radio-group > li{
    float:left;
    margin-left:24px;
}
.lk-pfb-gender .radio-group > li:first-child{
    margin-left:0px;
}
.lk-pfb-gender-container{
    line-height: 31px;
    float:left;
    cursor:pointer;
}
.lk-pfb-gender-container.woman{
    margin-left: 24px;
}
.lk-pfb-gender-container:before{
    width: 30px;
    height: 30px;
    border:1px solid #eaeaea;
    background-color:#f5f5f5;
    content:"\f111";
    font-family: 'FontAwesome';
    color:#f5f5f5;
    display:inline-block;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
}
.lk-pfb-gender-container.checked:before{
    width: 30px;
    height: 30px;
    background-color:#2673c2;
    content:"\f111";
    font-family: 'FontAwesome';
    color:#fff;
    border:none;
}
.lk-profile-button{
    border-top:1px solid #eaeaea;
    margin-top: 24px;
    padding-top: 30px;
}
.lk-profile-form-block {
    padding: 21px 0 6px 0;
}

.lk-profile-form-block.lk-pfb-city {
    padding-bottom: 0px;
}

span.lk-pfb-gender-text {
    display: inline-block;
    margin-left: 7px;
}

.lk-pfb-gender-container.lk-gc-woman {
    padding-left: 11px;
}

.lk-pb-button {
    font-size: 15px !important;
    width: 100%;
    padding: 14px 20px !important;
}
.lk-profile-wrapper form > .lk-pfb-hint{
    display:none;
}
/*home*/
.lk-home-main{
    background:#fff;
    margin-bottom:30px;
}
.lk-home-slider{
    margin-top:30px;
    padding-bottom:30px;
    border-bottom:1px solid #eaeaea;
    text-align: center;
    width: 100%;
    position: relative;
}
.lk-home-menu{
    width:100%;
}
.lk-home-menu .swiper-slide{
    text-align:center;
}
.lk-swiper-icon > i{
    background: url(../img/icon-set-big-lc.png) no-repeat 0 0;
    display:inline-block;
    vertical-align:middle;
}
.lk-home-menu .lk-home-menu-cart > i{
    width:70px;
    height:63px;
    background-position:0 0;
}
.lk-home-menu .lk-home-menu-cart:hover > i{
    background-position:-95px 0;
}
.lk-home-menu .lk-home-menu-history > i{
    width:64px;
    height:64px;
    background-position:0 -243px;
}
.lk-home-menu .lk-home-menu-history:hover > i{
    background-position:-95px -243px;
}
.lk-home-menu .lk-home-menu-profile > i{
    width:64px;
    height:42px;
    background-position:0 -88px;
}
.lk-home-menu .lk-home-menu-profile:hover > i{
    background-position:-95px -88px;
}
.lk-home-menu .lk-home-menu-forms > i{
    width:45px;
    height:64px;
    background-position:0 -154px;
}
.lk-home-menu .lk-home-menu-forms:hover > i{
    background-position:-95px -154px;
}
.feature .cycle-icon{
    padding: 0px !important;
    position:relative;
}
.feature .cycle-icon:hover{
    background-color: #2773BF;
}
.feature .cycle-icon > i{
    background: url(../img/icon-set-big.png) no-repeat 0 0;
    display:inline-block;
    vertical-align:middle;
}
.feature i.ci-car{
    width:67px;
    height:42px;
    background-position:0px 0px;
}
.feature .cycle-icon:hover  i.ci-car{
    background-position:-92px 0px;
}
.feature i.ci-bank{
    width:60px;
    height:41px;
    background-position:0px -67px;
}
.feature .cycle-icon:hover  i.ci-bank{
    background-position:-92px -67px;
}
.feature i.ci-phone{
    width:45px;
    height:63px;
    background-position:0px -133px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-31.5px;
    margin-left:-18px;
}
.feature .cycle-icon:hover  i.ci-phone{
    background-position:-92px -133px;
}
.feature i.ci-map{
    width:64px;
    height:65px;
    background-position:0px -222px;
}
.feature .cycle-icon:hover  i.ci-map{
    background-position:-92px -222px;
}
.feature i.ci-paperclip{
    width:46px;
    height:61px;
    background-position:0px -311px;
}
.feature .cycle-icon:hover  i.ci-paperclip{
    background-position:-92px -311px;
}
.lk-swiper-icon{
    width:116px;
    height:116px;
    display: inline-block;
    background-color:#f5f5f5 !important;
    -webkit-border-radius: 58px;
    -moz-border-radius: 58px;
    border-radius: 58px;
}
.lk-swiper-icon:hover{
    background-color:#2673c2 !important;
}
.lk-blur {
  -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
       -o-filter: blur(5px);
      -ms-filter: blur(5px);
          filter: blur(5px);
}
.lk-home-profile{
    height:278px;
    width:100%;
    position:relative;
    overflow: hidden;
}
.lk-home-back-img{
    background: url(../img/ava-test.jpg) center 43% no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: 165%;
}
.lk-home-back-color{
    width:100%;
    height:100%;
    background-color:#425467;
    opacity:0.9;
     position:absolute;
    top:0px;
    left:0px;
}
.lk-home-info{
    position:absolute;
    top:50px;
    left:0px;
    width:100%;
    text-align:center;
    color:#fff;
}
.lk-home-info-ava > img{
    height:94px;
    width:94px;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    border-radius: 47px;
    border:5px solid #647381;
}
.lk-home-info-name{
    font-weight:bold;
    font-size:15px;
    margin-top:23px;
}
.lk-home-info-city{
    margin-top:10px;
}
.lk-home-info-code{
    font-weight:bold;
    font-size:11px;
    margin-top:5px;
}
.lk-swiper-text{
    font-size:11px;
    color:#404040;
    font-weight:bold;
    margin-top: 24px;
    line-height: 14px;
}
.lk-swiper-a,.lk-swiper-a:hover,.lk-swiper-a:focus{
    color:#2673c2;
}
.lk-swiper-span{
    color:#888;
}
.lk-home-slider .slick-pagination{
    position:relative;
    bottom:auto !important;
    left:auto !important;
    margin-top: 11px;
}
.footer-slick-slider + .slick-pagination{
    position:relative;
    bottom:auto !important;
    left:auto !important;
    padding-bottom: 15px;
}
.lk-home-sign{
    font-size:15px;
    text-align:center;
    margin-top: 21px;
    padding-bottom:25px;
}
.lk-home-sign-1{
    font-size:13px;
    line-height: 16px;
    margin-top: 4px;
}
/* reserve */
.lk-reserve-main{
    background:#fff;
    margin-bottom: 25px;
}
.lk-reserve-head{
    background:#304255;
    padding: 27px 30px 17px 30px;
    position:relative;
}
.lk-reserve-table{
    padding: 0px 25px 0px 29px;
}
.lk-reserve-head-order{
    font-size:15px;
    color:#fedd00;
    font-weight: bold;
}
.lk-reserve-head-date{
    color:#fff;
    font-size:13px;
}
.lk-reserve-row{
    border-bottom:1px solid #eaeaea;
    padding: 26px 0px 25px 0px;
}
.lk-reserve-row-head{
    font-weight:bold;
}
.lk-reserve-row-text{
    color:#404040;
    line-height: 16px;
    margin-top: 5px;
}
.lk-hint-wrapper{
    position:relative;
    display:inline-block;
    margin-right: 28px;
}
.lk-hint i{
    position: absolute;
    top: 0px;
    left: 0px;
}
.lk-hint{
    display:none;
    position:absolute;
    cursor:pointer;
    top:0px;
    left: 100%;
    margin-left: 5px;
    width: 13px;
    height: 13px;
}
.lk-hint-text{
    display:none;
    position: absolute;
    bottom: -6px;
    left: 100%;
    margin-left: 5px;
    width: 270px;
    padding: 5px 10px;
    background: #fff;
    z-index: 2;
    border: 2px solid #eaeaea;
}
.lk-title-reserve{
    padding-bottom: 8px;
}
.lk-reserve-price{
    font-weight:bold;
    color:#2673c2;
    font-size:14px;
}
.lk-reserve-row-total{
    padding-top:21px;
    padding-bottom:27px;
}
.lk-reserve-row-group{
    font-weight:bold;
    font-size:15px;
    padding-bottom: 13px;
}
.lk-reserve-row-contact{
    padding-top: 25px;
    padding-bottom: 24px;
    line-height: 16px;
}
.lk-reserve-products{
    padding-top:25px;
    color:#000;
    padding-bottom: 4px;
}
.lk-rp-name{
    line-height:15px;
}
.lk-rp-count{
    padding-top: 4px;
    font-weight:bold;
}
.lk-rp-price{
    padding-top: 1px;
}
.lk-reserve-product {
    padding-bottom: 21px;
}
.lk-reserve-row-total-total{
    padding-top: 25px;
    line-height: 15px;
    border:none;
}
.lk-reserve-price .btn{
    font-size: 17px;
    padding: 15px 10px;
    line-height: 100%;
    width: 100%;
    margin-top: 16px;
}
.lk-forms-main{
    background:#fff;
    padding:20px;
    margin-bottom:20px;
}
.lk-f-content{
    float:left;
    width:92.5%
}
.lk-f-text{
    padding-bottom: 15px;
}
.lk-f-text ul{
    margin:0px;
    padding-left: 30px;
}
.lk-f-text ul li{
    color: #2673c2;
    list-style-type: square;
}
.lk-f-text ul li span{
    color:#000;
}
.lk-f-products-wrapper .product-item{
    border-left:none;
}
.lk-f-products-wrapper .product-item .delete{
    position: absolute;
    top: 10px;
    left: 10px;
}
.lk-f-products-wrapper .product-item:hover{
    border-left:none;
}
#password .lk-profile-form-block{
    width: 50%;
    padding: 27px 0px 0 0;
    float:none;
}
#password .lk-profile-button{
    width: 50%;
    text-align:left;
}
#password  form > .lk-pfb-hint{
    display:block;
}
.lk-profile-wrapper .tabs-viewport > .tab{
    padding-top:0px;
}

.monitoring {
	color: #2673c2;
	text-decoration: underline !important;
}
.monitoring:hover {
	color: #404040;
}


.lk-reserve-view .lk-menu {
	float: none;
	width: auto;
	min-height: auto;
}

@media (max-width: 768px) {
    .lk-f-text ul{
        padding-left: 15px;
    }
    .lk-f-content{
        float:none;
        width:100%
    }
    #password .lk-profile-form-block{
        width: 100%;
    }
    #password .lk-profile-button{
        width: 100%;
    }
}

@media (min-width: 768px) {
    .lk-manager{
        max-width: 560px;
        display: inline-block;
        text-align: left;
        width: 70%;
        border:1px solid #eaeaea;
        background:#fff;
        padding:15px 10px 15px 40px;
    }
    .lk-manager-content{
        padding-left: 20px;
        margin-left:-20px;
    }
    .lk-manager-title{
        font-size:15px;
        color:#2673c2;
        border-bottom:1px dotted;
        display:inline-block;
        line-height:20px;
        position:relative;
    }
    .lk-manager-title:hover{
        color:#2673c2;
    }
    .lk-manager-title i{
        position: absolute;
        left: -24px;
        top: 3px;
        width: 16px;
        height: 16px;
        background-position: -10px -130px;
    }
    .lk-manager-content .row div span{
        color:#2673c2;  
        display:inline-block;
        position:relative;
    }
    .lk-manager-content .row div span i{
        position:absolute;
        top: 0px;
        left: -20px;
        width:16px;
        height:16px;
    }
    .lk-manager-content .row > div{
        line-height:18px;
        padding-left: 15px;
        padding-top: 10px;
    }
    
    .lkm-phone i{
        background:url(../img/messenger-icons/phone.png) 0 0 no-repeat;        
    }
    .lkm-skype i{
        background:url(../img/messenger-icons/skype.png) 0 0 no-repeat;        
    }
    .lkm-icq i{
        background:url(../img/messenger-icons/icq.png) 0 0 no-repeat;        
    }
    .lkm-email i{
        background:url(../img/messenger-icons/email.png) 0 0 no-repeat;        
    }
    .lkm-manager i{
        background:url(../img/messenger-icons/manager.png) 0 0 no-repeat;        
    }
    
    .lk-p-320-block.lk-shadowed{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .lk-main{
        padding: 0 5px;
    }
    .lk-title{
        padding-bottom:21px;
        text-align: center;
    }
    .lk-title > h1{
        float:left;
    }
    .lk-back{
        float:right;
        margin-top: 23px;
    }
    .lk-menu{
        width:7.5%;
        float:left;
        min-height:300px;
    }
    .lk-menu ul{
        position:absolute;
        left:0;
        top: 41px;
        margin:0 0 0 -26px;
    }
    .lk-menu ul li{
        display:block;
        margin: 7px 0 0 0;
    }
    .lk-order-wrapper{
        float:left;
        width:92.5%;
        padding:0 0 0 0;
        font-size:12px;
    }
    .lk-products{
        position:relative;
    }
    .lk-p-320-block{
        padding: 0 0 19px 0;
        border:none;
    }
    .lk-products > .lk-p-320-block{
        padding: 0 0 0 0;
        border-bottom:1px solid #eaeaea;
        padding-top: 24px;
        padding-bottom: 28px;
    }
    .lk-p-order{
        position:relative;
        width:15%;
        float:left;
    }
    .lk-p-info-wrapper-320{
        display: block;
    }
    .lk-p-info-wrapper-320.lk-collapsed{
        display:block;
    }
    .lk-p-status{
        position:relative;
        width:15%;
        float:left;
        left:47%;
        line-height: 16px;
        margin-top: 2px;
    }
    .lk-p-status-text{
        display:inline-block;
        position:relative;
    }
    .lk-p-info{
        position:relative;
        width:47%;
        float:left;
        right:15%;
    }
    .lk-p-info-delivery{
        left:132%;
        position:absolute;
        line-height: 20px;
        width:42%;
    }
    .lk-p-namevenrate{
        width:58%;
        float: left;
    }
    .lk-p-product-prcount{
        width:42%;
        margin-top: 0px;
        text-align: left;
    }
    .lk-p-product-count{
        width:44%;
        float:left;
    }
    .lk-p-product-price{
        width:56%;
        float:left;
    }
    .lk-table-head{
        display:block;
        font-weight:bold;
        color:#000;
        padding: 43px 0 13px 0;
        border-bottom:1px solid #eaeaea;
    }
    .lk-table-head  .lk-th-col{
        float:left
    }
    .lk-th-number{width:15%;}
    .lk-th-products{width:47%;}
        .lk-th-name{width:58%;}
        .lk-th-prcount{width:42%;}
            .lk-th-count{width:44%;}
            .lk-th-price{width:56%;padding-left:10px;}
    .lk-th-status{width:15%;}
    .lk-th-delivery{width:23%;}
    .lk-p-list{
        padding-top:0px;
    }
    .lk-p-product-name{
        margin-top: 3px;
        padding-right: 10px;
        line-height: 14px;
    }
    .lk-p-product-price{
        font-size:14px;
    }
    .lk-p-product-venrate{
        margin-top: 9px;
        width:100%;
    }
    .lk-p-product-vendor{
        float:left;
    }
    .lk-p-product-rate{
        float:right;
        padding-right:20px;
    }
    .lk-p-product-count > div{
        padding-right: 50%;
        text-align: right;
    }
    .lk-p-product-price > div{
        padding-right: 30%;
        text-align: right;
    }
    .lk-p-buttons{
        display:none;
    }
    .lk-p-info-wrapper{
        display:block;
    }
    .lk-p-info-wrapper.lk-collapsed{
        display:none;
    }
    .lk-p-show.only-one-product{
        display:none;
    }
    .lk-p-more-link{
        display:block;
    }
    .lk-p-more-link-320{
        display:none;
    }
    .lk-button-r{
        display:block;
        margin-top: 8px;
    }
    .lk-button-cancel{
        display: inline-block;
        width: auto;
        margin:0 0 0 0;
        line-height: 18px;
    }
    .lk-button-d{
        display:block;
        margin-top: 6px;
    }
    .lk-button-pay{
        display: inline-block;
        margin:0 0 0 0;
        text-align:center;
        line-height: 18px;
    }
    .lk-order-main{
        padding-bottom:60px;
        margin-bottom:40px;
    }
    /*profile*/
    .lk-profile-tabs{
        padding-top:56px;
        border:none;
    }
    .lk-pt-contacts{
        width:auto;
        float:left;
    }
    .lk-pt-password{
        width:auto;
        float:left;
        margin-top:0px;
        margin-left: 44px;
    }
    .lk-pt-password a{
        font-size:15px;
        display: inline-block;
        border:none;
        padding-bottom: 3px;
        line-height: inherit !important;
    }
    .lk-pt-password a span{
        text-transform: uppercase;
    }
    .lk-profile-form-block{
        float:left;
        width:45%;
        padding:27px 41px 0 0;
    }
    .lk-profile-form-block.lk-pfb-email{
        padding-right:0px;
    }
    .lk-pfb-city{
        display:none;
    }
    .lk-profile-wrapper{
        float:left;
        width:92.5%;
        padding: 0 0 50px 0;
    }
    .lk-profile-form-block.lk-pfb-date{
        width: 21%;
    }
    .lk-pfb-input-date{
        width:auto;
    }
    .lk-profile-form-block.lk-pfb-gender{
        width:25%;
        padding-right:0px;  
    }
    .lk-profile-wrapper form > .lk-pfb-hint{
        display:block;
    }
    .lk-profile-button{
        margin-top:35px;
        text-align:center;
    }
    .lk-pb-button{
        width:250px;
    }
    /* home */
    .lk-home-menu .slick-wrapper{
        width:90% !important;
        margin: 0 auto;
    }
    .lk-home-menu .slick-wrapper .lk-h-slide{
        width: 25% !important;
        float:left;
    }
    /* reserve */
    .lk-reserve-main{
        padding-bottom: 57px;
    }
    .lk-reserve-row{
        position:relative;
        width:100%;
        padding-top: 17px;
        padding-bottom: 14px;
    }
    .lk-reserve-row-head{
        float:left;
        width:60%;
    }
    .lk-reserve-row-text{
        float:left;
        margin-top:0px;
        width:40%;
    }
    .lk-reserve-table{
        padding-top:0px;
        padding-left: 59px;
    }
    .lk-reserve-head{
        padding: 36px 30px 37px 65px;
        
    }
    .lk-reserve-row-group{
        padding-top: 36px;
        padding-bottom: 13px;
    }
    .lk-reserve-row-contact{
        padding-bottom: 16px;
    }
    .lk-rp-name,.lk-rp-count,.lk-rp-price{
        float:left;
    }
    .lk-rp-name{
        width:49%;
    }
    .lk-rp-count{
        width:11%;
    }
    .lk-rp-price{
        width:40%;
    }
    .lk-reserve-products{
        padding-top: 23px;
        padding-bottom: 7px;
    }
    .lk-reserve-product{
        padding-bottom: 8px;
    }
    .lk-reserve-row-total-total{
        padding-top: 23px;
    }
    .lk-p-show-only-320{
        display:none;
    }
    .lk-hint{
        display:block;
    }
    .lk-logo{
        left:65px;
    }
    .lk-reserve-price .btn{
        width: 56%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .lk-pfb-gender .radio-group > li {
        float: left;
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .lk-products > .lk-p-320-block{
        min-height:170px;
    }
    .lk-p-order{
        padding-right: 10px;
    }
    .lk-p-status{
        padding-right: 10px;
    }
    .lk-p-product-price > div {
        padding-right: 10%;
    }
    .lk-p-product-count > div{
        padding-right:30%;   
    }
}