html, body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    color: #000000;
}

html {
    font: normal 15px/18px sans-serif;
}
html.wide {
    font: normal 15px/18px sans-serif;
}

* { 
    margin: 0;

}

.output {
    position: fixed;
    width: 250px;
    height: 200px;
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
    color: black;
    border: 1px dotted #c0c0c0;
    top: 40px;
    right: 20px;
    background: #ffffff;
    overflow: hidden;
    z-index: 50000;
}

.content {
    position: relative;
    background: #ffffff;
    z-index: 20;
    box-shadow: -5px -5px 5px rgba(0,0,0,.25);
}

body>nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    z-index: 10001;
    overflow: hidden;
    left: calc(-20rem + 20px); 
    -webkit-transition: left .2s ease;
    transition: left .2s ease;
}
body>nav.drg {
    -webkit-transition: none;
    transition: none
}
body>.nav-ovl {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    z-index: 10000;
}
body>nav .panel {
    position: relative;
    width: calc(100% - 20px);
    height: 100%;
    overflow: auto;
    background: rgba(255,255,255,.01);
    background: rgb(242,245,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
}

nav.left-panel header {
    height: 5.5rem;
    background: #c06060;
    text-align: center;
    padding-top: 50px;
}
nav.left-panel ul {
    list-style: none;
    margin: 0;
    padding: 30px 0 ;
}
nav.left-panel ul li {
    padding: 0 0 0 50px;
    font: bold 1rem/2rem sans-serif;
    text-transform: uppercase;
}
nav.left-panel ul li a {
    color: #000000;
    text-shadow: 1px 1px 0 white;
    text-decoration: none;
}

main {
    position: relative;
}