.bg-blue {background-color: #2673c2}
.bg-pink {background-color: #fe436c}
.black { color: #000 !important; }
.grey { color: #808080 !important; }
.clearfix { clear: both; }
 
/*Main-promo*/
.main-promo {
    margin: 15px auto 0;
}
.mp-big {
    float: left;
    width: 100%;
    max-height: 450px;
    padding: 63px 30px 63px 69px;
    margin: 0 0 10px 0;
    background-repeat: no-repeat;
}
.mp-big {
    background-position: right 0;
}
.mp-level-two .mp-big {
    background-position: left 0;
}
.mp-big > .mp-box {
    width: 100%;
    max-width: 250px;
}
.mp-box > p, .mp-box > span, .mp-box > b, .mp-box > small, .mp-box > a {
    float: left;
    width: 100%;
}
.mp-action-new {
    font-weight: 900;
    font-size: 13px;
    color: #73ab36;
    margin: 0 0 11px 0;
}
.mp-action-stock {
    font-weight: 900;
    font-size: 13px;
    color: #fedd00;
    margin: 0 0 11px 0;
}
.mp-action-sale {
    font-weight: 900;
    font-size: 13px;
    color: #fe436c;
    margin: 0 0 11px 0;
}
.mp-action-sale i:before {
    content: "";
    display: block;
    top: 0;
    left: -14px;
    position: absolute;
    border: 8px solid transparent;
    border-right: 6px solid #fe436c;
}
.mp-action-sale i {
    position: relative;
    font-style: normal;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    line-height: 16px;
    height: 16px;
    margin: 0 0 0 11px;
    border-radius: 0 2px 2px 0;
    padding: 0 4px 0 0;
    background: #fe436c;
}
.mp-name {
    font-weight: 400;
    font-size: 19px;
    color: #000;
    line-height: 26px;
    margin: 0 0 8px 0;
}
.mp-price {
    font-weight: 800;
    font-size: 19px;
    color: #2773BF;
    margin: 0 0 7px 0;
	white-space: nowrap;
}
.mp-price s {
    color: #a4a4a4;
}
.mp-desc {
    font-weight: 400;
    font-size: 13px;
    color: #888889;
    line-height: 20px;
    margin: 0 0 41px 0;
}
.mp-cart::before {
    content: "";
    display: block;
    width: 18px;
    height: 16px;
    background: url(../img/icon-set.png) no-repeat 0 -56px;
    left: -28px;
    top: 0;
    position: absolute;
}
.mp-cart:hover::before {
    background: url(../img/icon-set.png) no-repeat -18px -56px;
}
.mp-cart {
    position: relative;
    font-weight: 800;
    font-size: 13px;
    color: #888;
    margin: 0 0 0 29px;
}
.mp-cart:hover {
    color: #2773BF;
}
.mp-cart.mp-cart-in::before {
    width: 20px !important;
    height: 20px !important;
    background: url(../img/icon-set.png) no-repeat 0 -104px !important;
    left: -28px !important;
    top: -1px !important;
}
.mp-cart-in {
    color: #73ab36;
}
.mp-big .lk-p-product-rate {
    float: left;
    margin: 0 0 18px 0;
}

.mp-small {
    float: left;
    width: 100%;
    min-height: 178px;
	min-height: auto;
    padding: 31px 25px 15px 31px;
    margin: 0 0 10px 0;
    background-repeat: no-repeat;
}
.mp-small:first-child {
    background-position: left 0;
}
.mp-small:last-child {
    background-position: right 0;
}
.mp-small > .mp-box {
    width: 100%;
    max-width: 110px;
}
.mp-box > p, .mp-box > span, .mp-box > b, .mp-box > small, .mp-box > a {
    float: left;
    width: 100%;
}
.mp-small .mp-action-stock {
    margin: 0 0 3px 0;
}
.mp-small .mp-name {
    font-weight: 400;
    font-size: 15px;
    color: #000;
    line-height: 19px;
    margin: -4px 0 -3px 0;
}
.mp-small.color-invert .mp-name {
    color: #fff;
}
.mp-small .mp-price {
    font-weight: 800;
    font-size: 15px;
    color: #2773BF;
    margin: 0 0 10px 0;
}
.mp-small.color-invert .mp-price {
    color: #fff;
}
.mp-small .mp-cart::before {
    content: "";
    display: block;
    width: 18px;
    height: 16px;
    background: url(../img/icon-set.png) no-repeat 0 -56px;
    left: -28px;
    top: 0;
    position: absolute;
}
.mp-small .mp-cart:hover::before {
    background: url(../img/icon-set.png) no-repeat -18px -56px;
}
.mp-small .mp-cart {
    position: relative;
    font-weight: 800;
    font-size: 13px;
    margin: 0 0 0 29px;
}
.mp-small.color-invert .mp-cart::before {
    background: url(../img/icon-set.png) no-repeat -36px -56px;
}
.mp-small.color-invert .mp-cart {
    color: #fff;
}
.mp-small .lk-p-product-rate {
    float: left;
    margin: -12px 0 22px 0;
}

.mp-level-two .mp-big {
    padding: 52px 30px 52px 69px;
}
.mp-level-two .mp-small:first-child {
    padding: 40px 25px 15px 31px;
}
.mp-level-two .mp-small:last-child {
    padding: 32px 25px 15px 31px;
}
.mp-level-two .mp-big .mp-price {
    color: #fe436c;
    margin: 0 0 9px 0;
}
.mp-level-two .mp-desc {
    margin: 0 0 23px 0;
}

.mp-link-add {
    float: left;
    width: 100%;
    text-align: center;
    margin: 23px 0 46px 0;
}
.mp-link-add a.show-more {
    width: 100%;
    max-width: 326px;
    margin: 0 auto;
    display: block;
    color: #888888;
    font-weight: 800;
    font-size: 13px;
    background: #fff;
    border-radius: 50px;
    padding: 8px 0;

}
.mp-link-add a.show-more:hover {
    text-decoration: none;
    background: #2773BF;
    color: #fff;
}
.mp-link-add.mode-infinite .pagination {
	display: none;
}

/*Main News*/
.main-news {
    width: 100%;
    float: left;
    background: #fff;
    padding: 33px 0 50px 0;
    margin: 0 0 38px 0;
}
.main-news h2 {
    float: left;
    font-size: 23px;
    font-weight: 900;
    color: #000;
    margin: 0;
}
.all-news {
    float: right;
    font-size: 13px;
    font-weight: 800;
    color: #888;
    margin: 9px 0 0 0;
}
.all-news .ic-news {
    margin: 0 5px -4px 0;
}
.all-news:hover {
    color: #2773BF;
}
.mn-box {
    float: left;
    width: 100%;
    height: 174px;
    background: #000;
    position: relative;
    margin: 22px 0 0 0;
    overflow: hidden;
}
.mn-box:hover img {
    transform: scale(1.05, 1.05);
}
.mn-box span {
    font-size: 11px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 71px;
    left: 30px;
}
.mn-box p {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 800;
    color: #fff;
    padding: 0 70px 25px 30px;
    margin: 0;
    box-sizing: border-box;
}
.mn-box img {
    position: absolute;
    z-index: 0;
    top: -56px;
    left: -107px;
	min-width: 326px;
	height: auto;
    opacity: 0.5;
}

/*Recomendet*/
.recomended .h2 strong {
    font-weight: 800;
}
.recomended .h2 {
    margin: 13px 0;
}
.recomended .product-item {
    min-height: 260px;
    border-left: 1px solid #EAEAEA;
    border-top: none;
}
.recomended .product-item:first-child {
    border-left: none;
}
.recomended .product-item.fixed {
    height: 260px;
}
.recomended .product-item .title {
    line-height: 13px;
}
.recomended .product-item .art {
    padding: 6px 0 9px;
}
.recomended .product-item .price {
    font-size: 14px;
    font-weight: 800;
    padding: 0 0 19px;
}
.recomended .product-item .add-to-cart {
    right: 18px;
    bottom: 16px;
}

/*Main Half Color*/
.main-half-color {
    margin-top: -12px;
}
.main-half-color .half-color .background {
    height: 103px;
    width: 52%;
}

/*Main Cycle Icon*/
.main-cycle-icon .feature {
    padding: 0px 0 9px;
}

/*Stock*/
.with-icon {
	position:relative;
	padding-left:25px;
}
.with-icon > i {
	position:absolute;
	left:0;
	top:1px;
}
.with-icon-right {
	position:relative;
	padding-right: 33px;
}
.with-icon-right > i {
	position:absolute;
	right: 20px;
	top:14px;
}
.with-icon-right.collapsed > i {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.main-stock {
    width: 100%;
    float: left;
    background: #fff;
    padding: 28px 0 0px 0;
    margin: 0;
}
.main-stock h2 {
    float: left;
    font-size: 23px;
    font-weight: 900;
    color: #fe436c;
    margin: 0;
}
.all-stock {
    float: right;
    font-size: 13px;
    font-weight: 800;
    color: #888;
    margin: 9px 0 0 0;
}
.all-stock .ic-stock {
    margin: 0 4px -2px 0;
}
.all-stock:hover {
    color: #2773BF;
}
.ms-box {
    float: left;
    width: 100%;
    margin: 22px 0 0 0;
}
.ms-box span {
    width: 100%;
    float: left;
    font-size: 11px;
    font-weight: 400;
    color: #979797;
    margin: 0 0 24px 0;
}
.ms-box a {
    font-size: 15px;
    line-height: 20px;
    margin: -4px 0 1px 0;
    font-weight: 800;
    color: #000;
    width: calc(100% - 90px);
    float: right;
}
.ms-box a:hover {
    color: #2773BF;
}
.ms-box p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    color: #404040;
    width: calc(100% - 90px);
    float: right;
}
.ms-box img {
    width: 65px;
    height: 65px;
    float: left;
}

.header-search{
    display:none;
}
.catalog-menu .ic-dropdown-gray{
    display:none;
}
.main-stock  .container .row {
    padding: 0 0 48px 0;
}
.categories.container.responsive-products .h2 {
    margin: 15px 0 10px;
}

.video-reviews {
	padding: 20px 0 5px;
}
.video-items {
	margin-left: -5px;
	margin-right: -5px;
	list-style: none;
	display: block;
	padding: 0;
	overflow: hidden;
}
.video-item {
	display: block;
	padding: 0 4px 0 5px;
}
.video-item .image-container > img{
	width: 100%;
}
.video-item .image-container {
	display: block;
    width: 100%;
    margin: 0 0 10px;
}
.video-item .info {
	padding-right: 25px;
}
.video-item .info > p {
	color:#444;
}
.video-item .info > a {
	font-weight: bold;
    font-size: 15px;
}

#tracked {width:600px; margin-left:-300px; top:25%}
.no-price-item .image-container {text-align: center;}
.no-price-item .title{
	color: #444;
    font-size: 17px;
    text-align: center;
    padding: 0 0 30px;
}
.no-price-item {
	padding: 0 20px 20px 0;
}

.main-rate {
	padding: 0 0 19px;
}

#callback.window{min-width: 320px;}
.logo-mob img {
    position: absolute;
    width: 50px;
    top: 8px;
    left: calc(50% - 19.5px);
    display:none;
}

#confirm {
	width: 300px;
    margin-left: -150px;
	margin-top: -100px;
}

@media(max-width:768px){
    .big-logo-wraper{display:none;}
    .logo-mob img{display:block;}

    header.header{
        padding:0 20px 25px 20px;
    }
    .header-top-menu{
        display:none;
    }
    .header-top-menu-icons{
        display:block;
        float:right;
    }
    .header-top-menu-icons li{
        padding-left:9px !important;
        display:inline-block !important;
    }
    .header-top-menu-icons li.header-top-menu-profile{
        padding-left:18px !important;
    }
    .header-top-menu-icons li.header-top-menu-cart{
        padding-left:18px !important;
    }
    .header-top-menu-icons li a{
        position:relative;
    }
    .header-top-menu-icons a i{
        position:relative;
    }
    .header-top-menu-icons a > span{
        display: inline-block;
        height: 14px;
        background: #fe436c;
        text-align: center;
        min-width: 14px;
        padding:0px 4px;
        position: absolute;
        top: -3px;
        left: 100%;
        margin-left: -5px;
        font-size: 9px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
    }
    .header-top-menu-icons a > span > span{
        display: inline-block;
        color: #fff;
        line-height: 100%;
        vertical-align: top;
        position: relative;
        top: 2.5px;
    }
    .ic-search-ht{
        width:17px;
        height:17px;
        top:1px;
        background-position:-34px -5px;
    }
    a:hover .ic-search-ht{
        background-position:-17px -5px;
    }
    .ic-profile-ht{
        width:18px;
        height:18px;
        background-position:-124px -793px;
    }
    a:hover .ic-profile-ht{
        background-position:-86px -793px;
    }
    .ic-cart-ht{
        width:20px;
        height:18px;
        background-position:-54px -54px;
    }
    a:hover .ic-cart-ht{
        background-position:-74 px -54px;
    }
    .cart-box{
        margin:0px;
    }
    .cart-box > a{
        display:none;
    }
    .logo{
        width: auto;
        margin: 0;
        display: block;
        float: none;
    }
    .logo img{
        width:100%;
        max-width:126px;
        margin: 0 auto;
        display: block;
    }
    .phone-box{
        margin-top:18px;
        padding-left:3px;
        position: relative;
        z-index: 9;
        display: none;
    }
    .phone-box b{
        margin:0px;
    }
    .phone-box small{
        margin:-1px 0 5px 0px;
    }
    .adress-box{
        display:none;
    }
    .search-box{
        margin-top: 20px;
        padding:0px;
    }
    .search-box > a{
        width:100%;
    }
    .header-top > .container,.header-bottom > .container{
        padding:0px;
    }
    .header-top{
        padding-bottom: 16px;
    }
    .city-sel {
        padding-top: 8px;
        float:left;
    }
    .header-top-menu-wrapper{
        float: right;
        padding-top: 5px;
        padding-right: 11px;
    }
    .phone-wrapper{
        padding:0px;
    }
    header{
        position:relative;
    }
    form.form-search.search-hidden{
        display:none;
    }
    form.form-search{
        position:fixed;
        top:0px!important;
        width:100%;
        left:0px;
        z-index: 101 !important;
		-webkit-transform: translate3d(0,0,1px);
		transform: translate3d(0,0,1px);
    }
    form.form-search > label{
        display:inline-block;
        position:absolute;
        top:50%;
        margin-top:-8.5px;
        left:20px;
        width:17px;
        height:17px;
        background-position:0px -5px;
    }
    form.form-search i.icon-close{
        display:inline-block;
        position:absolute;
        top:50%;
        margin-top:-6.5px;
        right:24px;
        width:13px;
        height:14px;
        background-position:-71px -247px;
        cursor:pointer;
    }
    form.form-search input{
        width:100%;
        height:55px;
        border:1px solid #ebebeb;
        font-size:13px;
        padding: 0px 48px 0px 48px;
        background:#fff;
        color:#888;
    }
    .catalog-menu {
        width:100%;
    }
    .catalog-menu ul{
        margin:0px;
    }
    .catalog-menu ul li a{
        padding:18px 30px 15px 20px;
        border-bottom:1px solid #e5e5e5;
    }
    .catalog-menu > div{
        padding:0px;
        border:none;
    }
    .catalog-menu .product-menu{
        display:none;
    }
    .catalog-menu ul li ul li a {
        padding: 8px 30px;
    }
    .catalog-menu .ic-dropdown{
        display:none;
    }
    .catalog-menu .spoiler{
        padding: 0 0 0px 0;
        width:100%;
    }
    .header-top{
        height:55px;
        position:fixed;
        top:0px;
        left:0px;
        padding-left: 19px;
        padding-right: 25px;
        background:#fff;
        z-index:100;
        -webkit-transform:translateZ(1px);
        -moz-transform:translateZ(1px);
        -o-transform:translateZ(1px);
        transform:translateZ(1px);
    }
    .header-bottom{
        padding-top:55px;
    }
    .catalog-menu .ic-dropdown{
        display:none !important;
    }
    .catalog-menu .ic-dropdown-gray{
        display:inline-block;
        position:absolute;
        top:50%;
    }
    .catalog-menu .opener .ic-dropdown-gray{
        background:url('../img/arr/arr-xs-down-black.png') center center no-repeat;
        width:9px;
        height:5px;
        margin-top:-2.5px;
        right:18px;
    }
    .catalog-menu .opener:hover .ic-dropdown-gray{
        background:url('../img/arr/arr-xs-down-blue.png') center center no-repeat;
        width:9px;
        height:5px;
    }
    .catalog-menu .opener.collapsed .ic-dropdown-gray{
        background:url('../img/arr/arr-xs-right-black.png') center center no-repeat;
        width:5px;
        height:9px;
        margin-top:-4.5px;
        right:20px;
    }
    .catalog-menu .opener.collapsed:hover .ic-dropdown-gray{
        background:url('../img/arr/arr-xs-right-blue.png') center center no-repeat;
        width:5px;
        height:9px;
    }
    #cart.window .window-cart-items .info{
        padding-right:30px;
        padding-left: 108px;
        padding-bottom: 24px;
    }
    #cart.window .window-cart-items .vendor-code{
        float:none;
    }
    #cart.window .window-cart-items .info > .price{
        position:static;
        padding-top: 8px;
    }
    #cart.window .window-cart-items .info > .countbox{
        position:relative;
        top:auto;
        right:auto;
        margin-top: 13px;
    }
    #cart.window .window-cart-items > li > a.delete{
        margin-top:0px;
        top:37px;
    }
    #cart.window .window-cart-items > li a > img,
    #cart.window .window-cart-items > li > img {
        width:65px;
    }
    #cart.window .total > .price{
        float:none;
    }

    #login .form-elements label span{
        color:#404040;
    }
    #login label[for="password"]{
        padding-bottom:11px
    }
    #login .link{
        line-height:100%;
        margin: 0 0 27px;
    }
    #profile ul li a{
        color:#404040;
        padding-bottom:12px;
        display:inline-block;
    }
    #profile.window .header{
        border:none;
        padding-bottom: 16px;
    }
    #cities.window .border-left:after{
        border-right:none;
    }
}

.ui-autocomplete .ui-menu {
	background: #fff !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover  {
	background-color: #2673c2 !important;
}

.tab-slider {
	min-height: 290px;
}
.tab-slider.inprogress {
	background: url('/i/inprogress-large.gif') no-repeat 50% 50%;
}
.tab-slider .empty-result {
	font-size: 16px;
	text-align: center;
	margin: 50px 0;
}

.compare-cell.hidden {
	display: none;
}
.compare-prod-thumb {
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#tab-desc .properties-title {
	font-weight: 700;
	margin: 0 0 10px 0;
	font-size: 13px;
}

.main-slider {
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-slider-wr .bx-controls {
	position: absolute;
	bottom: 0; right: 0;
}
.main-slider-wr .bx-controls .bx-pager {
	bottom: 30px; right: 30px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	border-color: #2673c2 !important;
	width: 11px !important;
	height: 11px !important;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #2673c2 !important;
	border-color: #2673c2 !important;
}
.bx-wrapper {
	padding: 0 !important;
	border: none !important;
	box-shadow: none !important;
}
#body.mobile-device .bx-wrapper {
	margin-bottom: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #f5f5f5 !important;
	margin-top: 2px !important; margin-bottom: 2px !important;
}
.mp-big.bg-white.main-slider-wr {
	max-width: 816px;
}

.form-elements .legal-field {
	display: none;
}



.header-top {
	
}

@media(min-width:1000px){
	.main-slider .promo-action-link img {
		width: 816px;
	}
}

.strong {
	font-weight: bold !important;
}
.blue {
	color: #2673c2 !important;
}

.bottom-fixed {
	display: none;
}

.form-fields label.error {
	position: relative;
}
.form-fields label.error input {
	border-color: #d94646 !important;
	color: #d94646 !important;
}
.form-fields label.error i.hint {
	color: #d94646;
	font-size: 11px;
	line-height: 11px;
	position: absolute;
	top: 62px; left: 0;
}
.form-fields label.error i.wrong-input {
	display: block;
	width: 30px; height: 29px;
	background: url('/i/wrong-input.png') no-repeat;
	top: 23px; right: 6px;
	position: absolute;
}

.order-tooltip {
	position: relative;
	margin-left: 8px;
}
.order-tooltip .icon {
	position: absolute;
	top: 0px; left: 0px;
	width: 16px; height: 16px;
	background: url('/i/order-tooltip.png') no-repeat;
}
#powerTip a {
	color: #fff;
}

@media (max-width: 800px) {
	.order-tooltip {
		display: none;
	}
}

#i_from, #i_to {
	padding: 7px 10px;
	font-size: 14px;
}

.ui-front {
	z-index: 10000 !important;
}





@media (min-width: 100px) and (max-width: 1000px) {
  .accessories-popup.open .aside-filter {
    left: 0px;
  }
  .accessories-popup.open .overlay-popup {
    visibility: visible;
    opacity: 1;
  }
}
.popup-izi {
  overflow: hidden;
}
.popup-izi .header-izi {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 17px;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid #EAEAEA;
}
.popup-izi .header-izi .header-izi-title {
  padding: 14px 19px;
}
.popup-izi .header-izi .close-popup {
  cursor: pointer;
  position: relative;
  width: 16px;
  height: 16px;
  min-width: 16px;
  z-index: 2;
  padding: 18px;
}
.popup-izi .header-izi .close-popup span {
  display: block;
  position: relative;
  height: 2px;
  background: black;
}
.popup-izi .header-izi .close-popup span:nth-child(1) {
  top: 7px;
  transform: rotate(135deg);
}
.popup-izi .header-izi .close-popup span:nth-child(2) {
  top: 5px;
  transform: rotate(-135deg);
}
.popup-izi .body-izi {
  display: -ms-flexbox;
  display: flex;
  background: #F5F5F5;
}
.popup-izi .body-izi .aside-filter {
  -ms-flex: 0 0 230px;
      flex: 0 0 230px;
}
.popup-izi .body-izi .product-list {
  box-sizing: border-box;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 0px 20px 40px 0px;
}
.popup-izi .body-izi .product-list .sort-place {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.popup-izi .body-izi .product-list .show-more-place {
  text-align: center;
}
.popup-izi .aside-filter {
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  padding: 24px 20px 20px;
}
.popup-izi .aside-filter p.title {
  font-size: 17px;
}
.popup-izi .aside-filter .list-product {
  border-bottom: 1px solid #EAEAEA;
  margin-top: 18px;
  padding-bottom: 18px;
}
.popup-izi .aside-filter .list-product a {
  border-bottom: 1px dashed #3274BE;
  color: #3274BE;
  margin-right: 6px;
}
.popup-izi .aside-filter .list-product span.count {
  color: #767676;
}
.popup-izi .aside-filter .list-product li {
  margin-bottom: 10px;
}
.popup-izi .aside-filter .list-product li.show-all {
  margin-bottom: 0px;
}
.popup-izi .aside-filter .list-product li.show-all a {
  font-weight: bold;
  border-bottom: 1px solid #3274BE;
}
.popup-izi .aside-filter .list-product .show-more {
  transition: all 0.25s ease-in-out;
  max-height: 0px;
  overflow: hidden;
}
.popup-izi .aside-filter .list-product .show-more.open {
  max-height: 500px;
}
.popup-izi .aside-filter .list-product .show-more.open + li.show-all {
  display: none;
}
.popup-izi .aside-filter .range-wrapp {
  box-sizing: border-box;
  margin-top: 14px;
  padding-right: 29px;
}
.popup-izi .aside-filter .range-wrapp .price-range {
  font-weight: bold;
  margin-bottom: 16px;
}
.popup-izi .aside-filter .range-wrapp #range-accessories {
  margin-top: 10px;
}
.popup-izi .aside-filter .range-wrapp .inputs {
  display: -ms-flexbox;
  display: flex;
}
.popup-izi .aside-filter .range-wrapp .inputs .input-base {
  width: 100%;
  border: 1px solid #EAEAEA;
  padding: 10px 9px;
}
.popup-izi .aside-filter .range-wrapp .inputs .input-base:first-child {
  margin-right: 17px;
}
.popup-izi .aside-filter .range-wrapp .inputs .input-base:focus {
  border: 1px solid #3274BE;
}
.popup-izi .aside-filter .find-result {
  font-size: 11px;
  font-weight: bold;
  color: #919393;
  margin-top: 15px;
}
.popup-izi .filter-btn {
  display: none;
  padding: 5px;
  background: #F5F5F5;
}
.popup-izi .filter-btn .standart-btn {
  background: #3274BE;
}
.popup-izi .filter-btn .standart-btn span {
  color: white;
}
.popup-izi .filter-btn .standart-btn:hover {
  background: #5a9de8;
  border: 2px solid #5a9de8;
}
.popup-izi .load-list-result {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.popup-izi .load-list-result > div {
  -ms-flex: 1 0 calc(33.33% - 5px);
      flex: 1 0 calc(33.33% - 5px);
  position: relative;
  padding: 19px 12px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.popup-izi .load-list-result > div .item__image {
  text-align: center;
}
.popup-izi .load-list-result > div .item__price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end;
  white-space: nowrap;
}
@media (min-width: 1000px) {
  .popup-izi .load-list-result > div:nth-child(3n) {
    margin-right: 0px;
  }
}
.popup-izi .overlay-popup {
  transition: all 0.25s ease-in-out;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
}
@media (min-width: 100px) and (max-width: 1000px) {
  .popup-izi {
    height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    background: #F5F5F5;
  }
  .popup-izi .aside-filter {
    background: white;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -240px;
    right: 0px;
    z-index: 1000;
    width: 230px;
    box-shadow: 0 0 10px rgba(89, 89, 89, 0.5);
    overflow: auto;
  }
  .popup-izi .filter-btn {
    display: block;
  }
  .popup-izi .body-izi .product-list {
    padding: 0px 5px;
  }
  .popup-izi .load-list-result > div {
    -ms-flex: 1 1 calc(50% - 5px);
        flex: 1 1 calc(50% - 5px);
  }
  .popup-izi .load-list-result > div:nth-child(2n) {
    margin-right: 0px;
  }
}

.accessories-popup .range {
	margin-top: 50px;
}
.accessories-popup .range .inputs {
	position: absolute;
    left: 0;
    top: -50px;
    width: 100%;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
}
.accessories-popup .range .inputs input[type="text"] {
	font: 15px/35px "Noto Sans",Helvetica,sans-serif;
    height: 35px;
    color: #000;
    padding: 0 10px;
    width: 90px;
    border: 1px solid #eaeaea;
    margin: 0 0 27px;
	background-color: #fff;
}
.popup-izi .aside-filter .list-product a {
	text-decoration: none;
}
.popup-izi .load-list-result > div .item__image {
	min-height: 150px;
}
.popup-izi .aside-filter .list-product a.active {
	color: #000;
	border-bottom-color: transparent;
}
.accessories-popup .list-product.loading {
	min-height: 100px;
	background: url('/i/inprogress-medium-gray.gif') no-repeat 50% 50%;
}
.accessories-popup .product-list.loading {
	min-height: 400px;
	background: url('/i/inprogress-large-grey.gif') no-repeat 50% 50%;
}
.accessories-popup .product-list .load-list-result.loading {
	min-height: 300px;
	background: url('/i/inprogress-large-grey.gif') no-repeat 50% 50%;
}


#form-order .cart-items.loading {
	min-height: 200px;
	background: url('/i/inprogress-large-grey.gif') no-repeat 50% 50%;
}


#promocode-element-container .separator {
	display: none;
}


.compare .empty-alert {
	color: #48B5D4 !important;
	font-size: 18px !important;
	padding: 60px 0;
    text-align: center;
}