@media(max-width: 991px ){ /* sm */
	
	.simple-header img {
		width:30%;
		float:left;
	}
	
	.simple-header .title {
		width: 70%;
		padding: 30px 0 0 20px;
	}
	
	.products-cats .cat-item {
		width:33.3%;
	}
}

.static-item {
	padding: 0 20px 10px 110px;
    position: relative;
    height: 170px;
    margin-bottom: 30px;
}
.static-item .title {
	font-size: 17px;
    display: inline;
    line-height: 26px;
}
.static-item .date {
	font-size: 10px;
    color: #444;
    position: absolute;
    left: 20px;
    top: 87px;
}
.static-item > .info p {
	color: #444;
    line-height: 20px;
}
.static-item:after{
	content:'';
	display:block;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	height: 30px;
    bottom: -19px;
	left:0;
	position:absolute;
}
.static-item > .info{
	position: relative;
}
.static-item .image-container > img{
	width: 100%;
    height: 100%;
}
.static-item .image-container{
	width: 75px;
    position: absolute;
    left: 20px;
    top: 6px;
    overflow: hidden;
    height: 75px;
}
.page-header {
	position:relative;
}
.tabs-list.static-pages {
	position: absolute;
    right: 5px;
    top: 32px;
}
.simple-header {
	padding: 25px 40px;
}
.simple-header .title {
	display: inline-block;
    padding: 38px 25px 0;
    font-size: 27.5px;
    color: #fff;
    float: left;
}
.simple-header img {
	float:left;
}
.simple-header .btn {
	font-size: 17px;
    font-weight: bold;
    float: right;
    margin-top: 34px;
    line-height: 17px;
    padding: 15px 20px 17px;
}
.simple-page {
	padding: 40px;
	margin-bottom: 20px;
}
.simple-page h2, .simple-page p {
	margin:0;
}
.simple-page h2 {
	font-size: 15.4px;
}
.simple-page p {
	padding: 0 0 12px;
}
.simple-page .ordernum {
	font-size: 25px;
    font-weight: bold;
}
.simple-page .address {
	font-size: 15.2px;
    font-weight: bold;
    padding-bottom: 3px;
}
.simple-page .separator {
	padding: 30px 0;
}
.simple-page .btn {
	padding: 10px 20px;
}
.simple-page .address-after {
	font-size: 11px;
}
.simple-page .bold {
	font-weight: bold;
    font-size: 15.4px;
    padding-bottom: 10px;
}
.action-inner {
	padding: 45px 0 40px 75px;
    overflow: hidden;
}
.action-inner .date {
	font-size: 11px;
}
.action-inner .status{
	font-size:15.6px
}
.action-inner .status.red{
	color:#fe436c;
}
.action-inner .info {
	padding: 0 0 36px;
}
.action-inner .content img {
	margin: 0 0 45px;
	max-width: 100%;
}
.action-inner .content p {
	margin: 0;
    padding: 10px 60px 10px 0;
    font-size: 13.2px;
    line-height: 20px;
    color: #444;
}
.action-inner .separator {
    padding: 30px 0px;
}
.action-after {
	color: #999;
    font-size: 11px;
    padding: 10px 60px 10px 0;
    line-height: 20px;
}
.action-after > strong {
	color:#000;
}
.half-color {position:relative; overflow: hidden; cursor:pointer; background-color: #fff}
.half-color .background {
	height: 100px;
    width: 50%;
}
.half-color a {
	text-decoration: none;
}
.half-color .name {
    color: #fff;
    font-size: 15px;
    padding: 39px 0 0 29px;
}
.half-color .price {
    color: #fff;
    padding: 0 0 0 29px;
    font-size: 15px;
    font-weight: bold;
}
.half-color img {
	position: absolute;
    top: 20px;
    right: 30px;
	max-width: 50%;
}
.half-color:hover img {
	top:15px;
}
.page-header-select{
	position:absolute;
	right:0;
	top:26px;
}
.responsive-table .row{
    font-size: 12px;
    color: #777;
	word-wrap: break-word;
}
.responsive-table .row > div {
	padding: 12px 20px;
}
.responsive-table .row strong{
	color:#000;
}
.responsive-table .row:nth-child(odd) {
	background-color: #f5f5f5;
}
.responsive-table .row:nth-child(odd) > div {
	background-color: #f5f5f5;
}
.responsive-table {
	padding: 0 5px 20px;
}
.header-select-label {
	font-size: 15px;
    font-weight: bold;
    padding: 0 15px 0 0;
}

/* Slick container */
.slick-products {
	height: 310px;
	position:relative;
	/*border-left: 1px solid #eaeaea;
	margin-left:-1px;*/
}
.slick-slider:hover .slick-prev, .slick-slider:hover .slick-next{
	opacity: 1;
}
.slick-products .slick-list {
	overflow:hidden;
	/*height: 310px;*/
}
.slick-prev, .slick-next {
	display:inline-block;
    width: 37px;
    height: 37px;
    padding: 0;
    cursor: pointer;
    position: absolute;
    border: 0;
    font-size: 0;
    line-height: 0;
    /* background-color: #222; */
    background-image: url('../img/slick-arrows.png');
    background-repeat: no-repeat;
    z-index: 10;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 20px -7px rgba(0,0,0,0.7);
    background-color: white;
	top: 50%;
    margin-top: -25px;
	outline: 0;
	opacity: 0;
	-webkit-transition: opacity 300ms ease-out 100ms;
	-moz-transition: opacity 300ms ease-out 100ms;
	-o-transition: opacity 300ms ease-out 100ms;
	transition: opacity 300ms ease-out 100ms;
}
.slick-prev{
	background-position: -5px -48px;
    left: -19px;
}
.slick-prev:hover{
	background-position: -5px -7px;
}
.slick-next {
	background-position: -49px -7px;
    right: -19px;
}
.slick-next:hover{
	background-position: -49px -48px;
}
.slick-slide img {
	max-width: 100%
}

/* Other */
.compare .slick-products .product-item .add-to-cart {
	position: absolute;
    bottom: 20px;
    right: 20px;
}

.separator thank-2 {padding: 40px 0px 60px;}
.sheet-pad-2 {padding: 0 0 18px 42px;}
.thank-bay {width:196px}
.thanks-grey {font-size: 11.1px; padding: 25px 0;}

.orderfail .checkbox-group {
    padding: 30px 0;
}
.orderfail .checkbox-group > li {
    padding-left: 47px;
    margin: 10px 0 10px 0;
}

.products-cats {
	padding: 20px 75px 0 0;
}
.products-cats .cat-item {
	width:25%;
	border:0;
	margin:0;
}

.certificates-prev,
.certificates-next {
	display: none;
}
.certificates-list {
	margin-bottom: 50px;
}

.generic-page a.btn-primary {
	text-decoration: none;
}

.generic-page .pc-slider-320 {
	display: block !important;
}