@media(max-width: 767px ){ /* xs */

	.products-cats {
		padding: 20px 0 0 0;
	}
	
	.products-cats .cat-item {
		border-top: 1px solid #eaeaea;
		margin:0;
	}
	
	.products-cats .cat-item {
		width:50%;
	}
	
}

@media(max-width: 425px ){ /* xs */

	.products-cats .cat-item {
		width:100%;
	}
}