@media(min-width: 1200px){
	.col-lg-20 {width:20%;}
	.col-lg-25 {width:25%;}
	.col-lg-30 {width:30%;}
	.col-lg-70 {width:70%;}
	.col-lg-75 {width:75%;}
	.col-lg-80 {width:80%;}
	.col-lg-50 {width:50%;}
	.col-lg-100 {width:100%;}
}
@media(max-width: 1199px){ /* md */
	.col-md-20 {width:20%;}
	.col-md-25 {width:25%;}
	.col-md-30 {width:30%;}
	.col-md-70 {width:70%;}
	.col-md-75{	width:75%;}
	.col-md-80{	width:80%;}
	.col-md-50{	width:50%;}
	.col-md-100{ width:100%;}
	.md-pad-20{ padding-left: 20px; padding-right: 20px   }
    .full-screen-link a{
        color: #2673c2;
        font-size: 10.9px;
        font-weight: bold;
        line-height: 50px;
        letter-spacing: 0.05em;
        text-decoration: underline;
    }
    .full-screen-link{
        text-align: center;
        height: 50px;
    }
    .footer-bottom{
        padding-bottom: 0;
    }
	#cities.window {
		width:87%;
		margin-left:-44%;
	}
}
@media(max-width: 991px ){ /* sm */
	.col-sm-20 {width:20%;}
	.col-sm-25 {width:25%;}
	.col-sm-30 {width:30%;}
	.col-sm-70 {width:70%;}
	.col-sm-75{	width:75%;}
	.col-sm-80{	width:80%;}
	.col-sm-50{	width:50%;}
	.col-sm-100{ width:100%;}
	.half-color img {max-width: 40%;}
	.pi-5 .product-item.cell {width:25%;}
	.catalog-toolbar-select{
		padding:30px 44px 31px;
	}
	.simple-header .btn {
		float:none;
	}
	.sheet-pad-1, .sheet-pad-2 {padding: 0 0 10px}
	.catalog-top-banner.galaxy .background > img {
		left: 30px;
		width: 50%;
	}
	.pl42-full {padding-left: 0;}
    .construct-item, .cstr-count{margin-right: 0}
    .footer-middle{
        margin: 5px -5px;
        padding-bottom: 64px;
        border-bottom: 0;
        float:none;
    }
    footer label[for="subscname"]{
        line-height: 23px;
        letter-spacing: 0.06em;
        float: none;
        max-width: 100%;
    }
    .subscription, .footer-short .subscription{
        height: auto;
    }
    .subscription .col-lg-6:nth-child(2) input[type="text"]{margin-top:11px;float:none;max-width: 100%;}
    .subscription .col-lg-6:nth-child(1) input[type="text"]{margin-top:4px;float:none;max-width: 100%;padding: 11px 14px 13px;}
    .subscription input[type="submit"]{
        display: block;
        width: 100%;
        margin: 21px auto 30px;
        text-align: center;
        background: #5d7a98;
        height: 32px;
        line-height: 22px;
        border-radius: 25px;
        color: #fff;
        text-indent: initial;
        text-transform: lowercase;
        font-weight: bold;
        padding-left: 30px;
        /* max-width: 280px; */
    }
    .mp-big {
        background-position: 29% 0;
    }
	.mp-level-two .mp-big {
		background-position: +86% 0;
	}
	.mp-small:first-child {
		background-position: +86% 0;
	}
	.mp-small:last-child {
		background-position: 0 0;
	}
    .cat-item img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
    .cat-item{
        width: 33.3%;
    }
	.cart-summ .price-lg {
		position: static;
	}
	.cart-summ .btn {
		width: 49%;
		margin-top: 19px;
	}
	.cart-item > .info .title {
		padding-right: 150px;
		padding-bottom: 30px;
	}
	.cart-item > .info .countbox {
		right: 252px;
		top:66px;
	}
	.cart-item > .info .instock-status {
		right: auto;
		left: 358px;
	}
        .cart-total-wrapper{
            padding-right:40px;
        }
        .cart-bottom .cart-total-wrapper{
            padding-left:0px;
            padding-right:0px;
        }
	.video-item {
		min-height: 300px;
	}
	.tabs-viewport > .tab {
		padding-top:0;
	}
	
	.cart-items .cart-item .-img {
	   width: 110px;
	}
	.cart-items .cart-item .-price {
	   width: 120px;
	}
    .cart-items .cart-item .-body {
	   width: calc(100% - 240px);
    }
    .form-elements label.-radio .block>b {
        line-height: 16px;
    }
    .form-elements .checkline { flex-wrap: wrap; padding-right: 0; }
    .form-elements .checkline a.forgot-pass { margin-right: 50%; }
    .form-elements .checkbox-group { width: 48% }
    .form-elements .checkline>* { margin-right: 0 }
    .form-elements .-tab.visible.-tab-pickup { flex-direction: column; }
    .form-elements .-tab.visible.-tab-pickup a.next-step { position: relative; display: inline-block; margin-top: 20px;}
    .form-elements .-tab.visible.-tab-pickup .pickup-info { width: auto; }
    .form-elements a.onmap:not(.-mmb) { display: none; }
    .form-elements a.onmap.-mmb { display: inline-block;; }
    .step-payment .form-elements .two-cheсkbox {
        flex-direction: column;
    }
    .step-payment .form-elements .two-cheсkbox label { width: 100%; }
    .form-elements label.half-wide { width: 100%; }
    .form-elements label.half-wide.right-part { margin-left: 0; padding-left: 0; }
    
    .window#pickup-window {
        width: 100% !important;
        height: 100% !important;
        left: 0 !important;
        top: 0 !important;
        margin: 0;
    }
    
    .row.l-2>* { margin-right: 0 !important; }
    .delivery-side-form .row.l-1 div { margin-right: 15px }
}
@media(max-width: 767px ){ /* xs */
    .-dsk { display: none !important; }
        .fb-arrows{
            display:none;
        }
	.tabs-viewport > .tab {
		padding-top:28px;
	}
	.radio-group li.double > span {
		max-width: 82%;
	}
	.col-xs-20 {width:20%;}
	.col-xs-25 {width:25%;}
	.col-xs-30 {width:30%;}
	.col-xs-70 {width:70%;}
	.col-xs-75{	width:75%;}
	.col-xs-80{	width:80%;}
	.col-xs-50{	width:50%;}
	.col-xs-100{ width:100%;}

	.tabs-list.static-pages {
		position: static;
		padding: 25px 15px 0;
	}
	.static-item {
		height: auto;
	}

	.one-row-slider{
		padding-bottom:60px;
		border-bottom: 1px solid #eaeaea;
	}
	.one-row-slider .slick-dots-wrapper{
        display: inline-block;
		position: absolute;
		left: 0px;
		bottom: 35px;
		padding: 0 0 0 40px;
    }

	.half-color img {max-width: 50%;}
	.responsive-table .row:nth-child(odd) > div {
		background-color: transparent;
	}
	.responsive-table .row > div:first-child {
		background-color: #f5f5f5;
	}
    .footer-slick-slider {
        padding: 30px 0 15px;
    }
    .footer-slick-slider .description{
        font-size:15px;
        font-weight:bold;
    }
    .footer-catalog-wrapper {
        padding:0 30px 0 30px;
    }
    .footer-catalog-wrapper .h-center{
        /* text-align:left !important; */
        padding-bottom:0px;
    }
    .footer-catalog ul{
        padding:0px;
    }
	.pi-5 .product-item.cell {width:50%;}
	.product-item.cell {
		height: 352px;
		border-left: 1px solid #fff;
	}
	.product-item .image-container {
		height: 218px;
	}
	.product-item .image-container > img {
		min-height: 100%;
	}
	.product-item .title {
		font-size: 15px;
	}
	.product-item .art {
		font-size: 11px;
	}
	.product-item .price {
		font-size: 17px;
	}
	.product-item.cell > .hover {
		display:none;
	}
	.one-row-slider .product-item.cell {
		border-left: 1px solid #fff;
		border-top: 1px solid #eaeaea;
	}
	.one-row-slider .product-item.before:before { display:none; }
	.one-row-slider .show-all {
		bottom: 35px;
		right: 40px;
		top:initial;
	}
	.product-item .info {padding: 0 33px 0;}
	.product-item .sale {left: 33px;}
	.catalog-products {	padding-bottom: 0!important; }
	section h1 {
		padding: 18px 14px 9px;
		margin: 0;
		font-size: 26px;
	}
	.bg-white-xs {background: #fff;}
	._showMore {display: block;}
	.compare .slick-slider .title {font-size: 13px;}
	.compare .product-item .price {padding:0}
	.cart-radio-group > li {
        padding: 25px;
    }
    span.get-top-delivery {
		display: block;
		position: absolute;
		bottom: 100%;
		font-size: 20px;
		line-height: 20px;
		height: 30px;
		overflow: hidden;
	}
	.cart-selects-mob{
        position: relative;
		padding-top: 12px;
		margin-top: 70px;
	}
	
    .sub-cont{position:relative;max-width: 220px;margin: 0 auto;float: none;}
    .fotter-partners .visa { width: 45px;}
    .fotter-partners .postavsiki {width: 127px;}
    .fotter-partners .yandexmarket { width: 77px;}
    .sm-pad-20{padding-left: 20px; padding-right: 20px}
    footer .container{
        padding: 3px 21px 0 20px;
    }
    .footer-top{
        margin: 23px -6px 12px;
        text-align: left;
    }
    .footer-top span{
        letter-spacing: 0.08em;
        text-align: left;
        line-height: 17px;
    }
    .footer-top p{
        text-align: left;
        margin: 21px 0 4px;
        line-height: 13px;
        letter-spacing: 0.12em;
    }
    .tabs-list > a.footbar-tab, .tabs-list > div.footbar-tab{
        width:20%;
        padding-top: 19px;
        padding-left: 30px;
        border-right: 1px solid #ececec !important;
    }
    .footer-menu-menu{margin: 17px -1px 12px;}
    .complain{
        margin: 19px 0px 23px;
    }
    .footer-phone{
        margin-top:3px;
    }
    .soc-link{
        margin: 5px 0 21px;
    }
    .construct-item{
        padding-top: 19px;
        padding: 19px 0 19px 13px;
    }
    .construct-thumb{
        display: block;
        padding-top: 8px;
        float: left;
    }
    .construct-thumb img{
        display: block;
        margin: auto;
    }
    .choosen-item .ctrs-pop-item-content{
        padding-top: 0
    }
    .construct-item-content{
        padding-bottom: 5px;
    }
    .construct-item .construct-item-content h2{
        margin-top: 0;
    }
    .construct-item .row.dt100{
        display: block;
    }
    .footer-short .subscription .col-lg-6:nth-child(2) input[type="text"] {
        margin-top: 9px;
    }
    .fotter-partners {
        height: 110px;
        line-height: 43px;
        padding: 6px 26px 0 26px;
    }
    .footer-short .subscription input[type="submit"] {
        margin-top: 21px;
        margin-left: 1px;
    }
    .footer-short .subscription .col-lg-6:nth-child(1) input[type="text"] {
        margin-top: 1px;
        float: none;
        max-width: 100%;
        padding: 11px 14px 13px;
    }
    .footer-short .subscription .col-lg-6:nth-child(2) input[type="text"] {
		margin-top: 12px;
	}
    .cstr-count{
        padding: 0;
    }
    .cstr-count > .container{padding: 20px 29px;background: #fff;}
    .cstr-count .cstr-count-res {display: block;    line-height: 11px;}
    .cstr-count .del-link {     margin: 10px 0 17px; }
    .cstr-count .del-link span {    padding-left: 6px;}
    .cstr-count .cstr-btn-big-cont {padding-left: 0;padding-right: 0;}
    .cstr-btn-big.btn{margin: 0 auto;width: 96%;display: block;}
    .ctrs-pop-item-content {
        width: 61%;
    }
    .full-on-mobile{
        width: 100% !important;
        left:0!important;
    }
    #construct .dtcma{vertical-align:top;}
    #construct .btn.construct-add-btn:after {
        left: 18px;
        top: 12.4px;
    }
    #construct .btn.construct-add-btn{
        margin-top: 17px;
        padding-left: 40px !important;
        width: 100%;
        padding-right: 30px;
        display: block;
    }
    #construct .ctrs-pop-item-content{
        font-size: 11px;
        line-height: 14px;
    }
    #construct  .nano-pane{
        right: 1px;
        width: 4px;
    }
    .ctrs-pop-item-content {
        width: 100%;
        display: block;
    }
    .tabs-list > a.footbar-tab > span:before{
        display:none;
    }

    .footer-bar-bottom {
        padding: 20px;
    }
    .footer-bar .tabs-viewport >  .tab{
        padding-top:0;
    }
    .footbar-mob-btn .btn.btn-primary {
        width: 100%;
        font-size: 15px;
        line-height: 24px;
        height: 40px;
    }
    .footer-bar .product-item {
        border: 1px solid #cecece !important;
    }
    .footer-bar .slick-dots-wrapper{
        margin-top: 0px;
        text-align: center;
    }
    .footer-bar .slick-dots{
        margin-top: 1px;
        text-align: justify;
        text-align-last: justify;
        display: inline-block;
        width: auto;
        line-height: 15px;
    }
    .foot-full-version{margin-left: -20px; margin-right: -20px;}
    .action-inner {
        padding: 26px 30px;
    }
    .page-header h1 {
        margin: 0 15px;
        font-size: 25px;
        line-height: 25px;
    }
    .action-inner .content img {
        margin: -23px -31px 20px;
        max-width: calc(100% + 114px);
        height: auto;
    }
    .action-inner .content p {
        padding: 0;
    }
    .form-inner {
        padding: 26px 30px 29px;
        line-height: 22px;
    }
    .form-inner .separator {
        padding: 13px 0;
    }
    .form-inner label {
        padding: 11px 0 14px;
    }
    .form-inner input[type="text"], .form-inner textarea {
        padding: 8px 10px;
        margin-bottom: 14px;
    }
    .form-inner textarea {
        resize: none;
        height: 155px;
    }
    .quality-int h1{padding-bottom: 13px;   }
    .form-quality-box .radio-quality-review a {
        height: 34px;
        line-height: 34px;
        width: 34px;
        margin-right: 3px;
    }
    .form-quality-box {
        padding-top: 20px;
        padding-bottom: 9px;
    }
    .form-inner .btn-primary {
        width: 98%;
        margin-top: 0;
    }
    .quality-int .form-inner {
        padding: 26px 26px 30px 30px;
        line-height: 20px;
    }
    .form-quality-submit-cont {padding-top: 14px;}
    .thanks .logo img {
        margin: 0 auto;
        display: block;
        width: 106px;
    }
    .thanks .logo {
        width: 100%;
    }
    header.header.thanks {
        padding: 0;
    }
    .thanks h1 {
        padding: 0;
        text-align: center;
        font-size: 25.1px;
        margin-top: 20px;
        margin-bottom: 21px;
    }
	.header-bottom {
		padding-top: 55px;
	}
	section.separator.thanks {
		padding-bottom: 21px;
	}
	.thanks .bg-darkblue.simple-header {
		padding: 40px 30px 30px;
	}
	.thanks .simple-header img {
		margin: 0 auto;
		display: block;
		float: none;
	}
	.thanks .simple-header .title {
		padding: 3px 0 0 0;
		text-align: center;
		font-size: 25px;
		float: none;
		width: 100%;
	}
	.thanks .simple-header .btn {
		width: 100%;
		margin-top: 10px;
		max-width: 200px;
		margin: 10px auto 0;
		display: block;
		float: none;
		height: 50px;
		position: static;
	}
	.thanks .bg-white.simple-page {
		padding: 24px 30px;
	}
	.separator.thank-2 {padding: 5px 0 28px;margin: 0 -5px;}
	.simple-page p.mb0-mob {
		padding-bottom: 0;
	}
	.address-after {
		margin-bottom: 20px;
	}
	.sheet-pad-2 {
		padding: 0;
		line-height: 24px;
		margin-top: -14px;
		margin-bottom: 15px;
	}
	.separator.thank-3 {
		padding: 14px 0 29px;
	}
	.thank-bay {
		width: 100%;
		height: 50px;
		margin-top: 1px;
		max-width: 220px;
		margin-bottom: -8px;
	}
	.thanks .simple-page {
		/*margin-bottom: 0;*/
		padding-bottom: 0;
	}
    .cat-item img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
    .cat-item{
        width: 50%;
    }
    .thanks .header-bottom {
        padding-top: 0;
    }
    .page-header-select {
        position: static;
    }
    .header-select-label {
        display: block;
    }
    .dropdown-select {
        width: 100%;
    }
    .compare-mob-btns .btn-fw {
        width: 50%;
        float: left;
    }
    .compare-mob-btns {
        overflow: hidden;
        margin: 10px -10px 20px;
	}
	.compare .page-header h1 {
		padding: 25px 0px 18px;
		margin: 0;
		font-size: 25px;
	}
	.compare .container.page-header {
		margin: 0 -5px;
	}
	.compare .header-select-label {
		padding-bottom: 5px;
	}
	.compare .page-header-select {
		margin-bottom: 15px;
	}
	.compare .slick-slide img {
	}
	.compare .product-item .remove-item {
		top: 8px;
		right: 23px;
	}
	.compare .product-item .info{position: static;margin: 11px 0;min-height: 100px;}
	.compare .border-top {
		margin-top: 12px;
		padding: 21px;
	}
	.compare .product-item .add-to-cart.btn {
		position: absolute;
		bottom: 20px;
		left: 20px;
		width: calc(100% - 40px);
	}
	.compare-prod-thumb {
		height: 150px;
	}
	.compare .product-item {
		min-height: 332px;
	}
	.compare .slick-dots {
		padding-top: 13px;
		padding-bottom: 20px;
		background: #f5f5f5;
	}
	.compare .slick-slider {
		height: auto;
		background: transparent;
	}
	.compare .action-after {
		padding-right: 0px;
	}
	.cart-header li div {
		display: inline;
	}
	.cart-header ul li {
		width: 100% !important;
		float: none;
		padding: 0;
		line-height: 22px;
	}
	.cart-header li div {display: inline;}
	.cart-header ul.clearstyle {
		padding: 15px 15px 0;
		min-height: auto;
	}
	.page-header .icon-link {
		position: static;
	}
	.cart.page-header .icon-link {
		padding: 0 17px 18px;
	}
	.cart h1 {
		padding-bottom: 5px;
		padding-left: 0;
		margin-left: 0;
	}
	.cart-header {
		height: auto;
		margin-bottom: 20px;
	}
	.cart-header li.five {
		width: calc(100% + 30px) !important;
		margin: 13px -15px 0;
		padding: 16px 19px 14px;
	}
	.cart-item > .info {
		padding: 0 0 0 0px;
		margin: 0 0 20px 65px;
	}
	.cart-item > .info .title {
		padding: 0;
	}
	.vendor-code {
		float: none;
		display: block;
		padding: 5px 0 12px;
	}
	.cart-item > .info .rating {
		display: block;
		padding: 0;
	}
	.cart-item > .info .price-lg {
		position: absolute;
		float: none;
		left: 0;
		right: inherit;
		bottom: 0;
		top: inherit;
	}
	.cart-item > .info .countbox {
		position: relative;
		right: inherit;
		top: inherit;
		margin: 10px 0 20px;
	}
	.cart-item  .delete{
		right:auto;
		top: 5px;
		left: 10px;
	}
	.promo-total .col-lg-1{
		min-height:0px !important; 
		height: 0px !important;
	}
	.price-block-320 , .cart-items .promo-total-320{
		display:block;
	}
        
	.cart-item .cart-line-320{
		display:block;
		border-bottom:1px solid #EAEAEA;
		margin-bottom:20px;
	}
        .cart-promo label{
            width:100%;
            padding-bottom:15px;
        }
        .cart-promo a.btn{
            float:right;
        }
        .cart-promo .form-elements{
            padding-top: 25px;
            padding-bottom:20px;
        }
        .cart-promo .form-elements:after{
            content:'';
            display:block;
            clear:both;
        }
        .promo-total .cart-total-wrapper{
            padding-top:20px;
            border-top:1px solid #eaeaea;
            padding-bottom:40px;
            padding-left:15px;
            padding-right:15px;
        }
        .sec-block > img {
    float: left;
    clear: both;
    position: relative;
    top: -5px;
    margin-left: 45px;
    margin-top: 10px;
}
.cart .tabs-viewport > .tab{
    padding-top:0px;
}
.cart-bottom .cart-total{
	padding:0px;
}
.cart-navi > a.ch-goon{
	display:block;
}
	.cart-item >  .price-block {
		display:none;
		position: relative;
		right: inherit;
		top: inherit;
		float:none;
		text-align:left;
		
	}
	.-mmb {
        display: block;
    }
    .-mmb.start-order a {
/*        display: block; */
    }
    .--tools:not(.-mmb) { display: none; }
    .--tools.-mmb { text-align: left; margin-left: 24px;}
    
    .cart-items.container .items, .container.auth-block .-login, .container.step-receipt .box-content, .container.step-payment .box-content, .container.step-balls .box-content {
        width: 100%;
    }
    #form-order .-root-fix { display: none; }
    
	.cart-item > .info .instock-status {
		position: relative;
		left: 0;
		float:none;
		right: inherit;
		top: inherit;
		margin: 10px 0px 3px;
	}
	.cart-item > .image-group {
		position: absolute;
		padding: 0;
		max-width: 92px;
		height: auto;
		top: 7px;
	}
	#form-order .container {
	   width: 100%;
	   max-width: 100%;
	   min-width: 100% !important;
	}
	.cart-item > .extends {
		padding: 0;
		width: 100%;
	}
	.cart-item > .actions-btns {
		position: static;
		width: 100%;
		padding-top: 9px;
	}
	.cart-item > .image-group .delete {
		top: 1px;
		left: 13px;
	}
	.cart-items .cart-item {
		padding: 25px 15px 20px 10px;
	}
	.cart-items .cart-item .-img {
	   width: 120px;
    }
	.cart-items .cart-item .-body {
	   width: calc(100% - 260px);
    }
    .cart-items .cart-item .-price {
        width: 140px;
    }
	.cart-item > .image-group.icon-disabled:after {
		background-position: 0px -98px;
		background-size: 307%;
		width: 25px;
		height: 25px;
	}
	.methods .icon-paymethods {
		display: none;
	}
	.cart-summ .text {
		max-width: 100%;
		padding: 0;
		margin: 0;
	}
	.cart-summ .price-lg {
		position: static;
		padding: 5px 0 18px;
	}
	.cart-summ .btn {
		position: static;
		width: 100%;
		padding-bottom: 20px;
	}
	.cart-summ {
		padding: 25px;
		line-height: 17px;
	}
	.cart-item > .actions-btns .btn {
		width: 100%;
		max-width: 220px;
	}
	.alert.bg-red {
		text-align: left;
	}
	.cart form {
		min-width: 100% !important;
	}
	.cart .form-elements {
		padding: 25px !important;
	}
	.map-sidebar {
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		max-width: 100% !important;
		padding: 0 !important;
		margin: 0 !important;
	}
        .showed-map .map-sidebar {
            height: 257px !important;
        }
        .map-container .s320{
            display:block;
        }
         
	.delivery-map .map-container .map {
		width: 100% !important;
		height: 283px !important;
		overflow: hidden !important;
		min-height: initial;
	}
        .delivery-map .map-container.showed-map{
            height:332px;
            min-height: initial;
        }
        .cart-tabs.tabs-list{margin-bottom:5px;background:none;padding:0px;}
        .nav-view{
            padding-left:25px;
        }
        .cart-tabs.tabs-list > a{
            width:50%;
            text-align: center;
            margin:0px;
        }
        .nav-view,.cart .form-elements.map-search{
            padding-bottom:0px !important;
        }
        
        .cart-promo .form-elements{
            padding-left:25px;
            padding-right:25px;
        }
	.cart-item > .info .instock-status{
		width:100%;
	}
	#delivery {
		padding: 0 25px;
	}
        #selfdeliveryList .mls-addr{
            font-weight: bold;
        }
        #selfdeliveryList .metro{
            font-weight: bold;
        }
        #selfdeliveryList{
            box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.2);
        }
        .map-sidebar ul > li:first-child{
            border:none;
        }
	.cart-delivery-types-cont {
		padding-top: 24px !important;
	}
	#delivery .radio-group {
		padding-top: 0;
	}
	/*.delivery-tab-inner.row {
		padding: 0;
		margin: 0 -28px;
	}*/
	.cart .datepicker-inline {
		padding: 7px;
	}
	.cart .datepicker-inline [data-view='week'] > li {
		width: 25px;
	}
	.cart .datepicker-inline [data-view='days'] > li {
		width: 25px;
		height: 25px;
		line-height: 25px;
	}
	#delivery-datecontainer {
		max-width: 300px;
		margin: 0 auto;
	}
	#delivery form {
		padding: 20px 25px !important;
	}
	.delivery-map .radio-group {
		padding: 0  25px !important;
	}
	.delivery-map .radio-group > li {
		display: block;
		float:  none;
	}
	.delivery-map .radio-group > li {
		position: relative;
	}
	#selfdelivery {
		padding-top: 0;
	}
	.radio-group > li:before {
		/*position: absolute; form-unsubscribe fix*/
	}
	.icon-paymethods {
		margin-left: 10px;
	}
        .map-balloon .icon-paymethods {
            margin-left: 0px;
	}
	i.separator-white {
		margin-left: 10px;
	}
        .map-search label{
            width: 100%;
        }
	.cart-radio-group > li > p {
		/*width: calc(100% - 40px);*/
		
	}
	.cart .cart-form-radio-mess {
		padding: 12px 0 0 0 !important;
		margin: 20px auto;
		max-width: 320px;
		min-height: 150px;
	}
	.form-elements.cart-form-radio-mess .group-header {
		line-height: 17px;
		font-size: 14px;
		font-weight: bold;
	}
	.cart .cart-form-radio-mess form {
		padding: 25px 30px;
		margin: 0 -25px;
		/* position: absolute; */
		/* width: calc(100% + 45px); */
		/* left: 2px; */
		/* max-width: 300px !important; */
	}
	.cart-radio-group .cart-label-fio {
		float: none;
		width: 100%;
		padding: 0 0 20px;
	}
	.cart-form-radio-mess form input[type="text"] {
		width: 100%;
	}
	.cart-radio-group .cart-input-fio {
		float: none;
		width: 100%;
	}
	.cart-bottom .separator-bottom {
		padding-bottom: 0px !important;
	}
	.cart-bottom ul.clearstyle {
		padding-top: 0 !important;
		margin-top: -4px;
		padding-bottom: 0 !important;
		margin-bottom: -10px;
	}
	.video-item {
		min-height: 1px;

	}
	.contacts-sections {
		padding: 0 20px;
	}
	.xs-side {
		padding:0 20px;
	}
	.route-images > img {
		max-width: inherit;
		width:100%;
	}
	ul.address > li {
		padding: 0 0 15px;
	}
	ul.address > li > b {
    width: 100%;
	}
	ul.address > li > span {
		width:100%;
	}
	.contacts-navigator .map-container .map-viewport {
		min-height: 300px;
	}
	#report{
		width:320px;
		margin-left:-160px;
	}
	.form-quickpay {
		width: 100%;
		padding: 20px 15px 40px;
	}

	#profile.window, #login.window, #cart.window, #callback.window{
        width:87.5%;
        min-width: 280px;
    }
    
    .window#pickup-window {
        width: 100%;
        height: 100%;
        left: 0 !important;
        top: 0 !important;
        margin: 0 !important;
    }

	#tracked {width:320px; margin-left:-160px }


	.form-elements label.-radio .block>b {
	   line-height: 1.2em;
	}
	.form-elements .checkline>* { margin-right: 25px; }
    .form-elements .checkline a.forgot-pass { font-size: 13px; }
    .form-elements .-tab.visible.-tab-pickup a.get-shop {
        font-size: 14px;
        max-width: 240px;
        line-height: 48px;
        height: 48px;
    }
    .form-elements label.half-wide.form-info {
        line-height: 1.2em;
    }
    .--total-aside {
        margin: 10px 0 40px 0;
        position: static;
        width: 100%;
    }
    .--total-aside .box-content { margin-top: 0; }
    .sections-joiner.container {
        margin-bottom: 20px;
    }   
    .promo-footer {
        margin: 10px -23px 0 -23px;
    }
    
    .-mob-total {
        width: 100%;
        padding: 20px;
    }
    .--total-aside .parts, .--total-aside .amounts, .--total-aside ul.items {
        margin: 0 -40px;
        padding: 10px 20px;
    }   
    .--total-aside ul.items li { padding: 0 0 20px 0; }
    .--total-aside .set-done a { display: block; width: 100%; }
    .--total-aside .checkbox-group, .--total-aside .set-done {
        padding: 15px;
        margin: 0 -35px;
        min-width: 100%;
        display: block;
    }
    .form-elements label.-radio input + .block.dlv {
        flex-direction: column;
    }
    .form-elements label.-radio input + .block.dlv .description {
        width: auto;
    }
    .delivery-side-form .row.l-1 div {
        margin-right: 0;
        width: 24%;
    }
    .delivery-side-form .row.l-2 div {
        margin-right: 0;
        width: 49%;
    }
    .-simple-radio label.-radio:not(.-inl) {
        display: block;
    }
    
    .form-elements .-simple-radio label.-radio input + .block { padding-top: 10px; }
    .form-elements .-simple-radio label.-radio .block>b { line-height: 16px; }
    .container.auth-block .-login.error .error   { padding-top: 12px; width: 100%; margin-left: 0;}
    
}
@media(max-width: 425px){

    .bonuses [data-tooltip]::after { margin-left: -170px; }

	.product-item .add-to-check {
		right: 35px;
		top: 25px;
	}

	.search-tags li {
		display: block;
		float: none;
		width: 100%;
	}
	.catalog-top-banner {
		padding:0 15px;
	}
	.catalog-top-banner.galaxy .background > img {
		width: 234px;
		left: 50%;
		top: 156px;
		margin-left: -101px;
	}
	.catalog-top-banner.galaxy .background > .info {
		width: 100%;
		position: static;
		padding: 27px 28px;
	}
	.catalog-top-banner.galaxy .banner-type {
		font-size: 17px;
		padding: 0;
		line-height: 17px;
	}
	.catalog-top-banner.galaxy .banner-price {
		font-size: 31px;
		padding: 0;
		line-height: 31px;
	}
	.catalog-top-banner.galaxy .banner-buy {
		font-size: 15px;
		padding: 10px 12px 10px 28px;
	}
	.catalog-top-banner.galaxy .banner-buy > i {
		left: 1px;
		top: 12px;
	}
	.catalog-top-banner.galaxy .banner-product {
		font-size: 20px;
		padding: 0;
		line-height: 26px;
	}
	.cart .cart-form-radio-mess form {
		padding: 25px 30px;
		margin: 0 auto;
	}
    #construct > .header a {
        top: 16px;
        right: 20px;
    }
    #construct > .header span {
        font-size: 22px;
        line-height: 37px;
    }

    #construct > .header {
        padding: 12px 30px;
    }

    #construct .ctrs-pop-item {
        padding: 17px 10px 17px 17px;
    }

    #construct > .body.box-side {
        padding: 24px 2px 24px 12px;
    }

    #construct .cstr-pop-list {
        padding-right: 15px;
        padding-left: 10px;
    }

    #construct .ctrs-pop-item {padding: 17px 17px;}

    .cstr-pop-thumb{
        width: 48px;
        margin-right: 16px;
    }

	.cstr-count{
        margin-right: 0px;
        margin-left: -21px;
        position: absolute;
        z-index: 2;
        width: calc(100% + 35px);
        border-bottom: 0;
        box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.2);
    }

    .cstr-items-list {
        padding-bottom: 214px;
    }

    .btn.construct-add-btn:after{
        left:10px;
    }
    .btn.construct-add-btn{
        padding-left: 31px !important;
    }

    .construct-thumb img{
        max-width: 41px;
    }

    .choosen-item .change-btn{
        width: 90%;
        padding-right: 27px;
    }

    .choosen-item .del-btn {
        width: 90%;
        padding-right: 27px;
        margin: 6px 0;
    }

    .fixed-count .cstr-count {
        position: fixed;
        bottom: -40px;
        width: 100%;
    }

    .fixed-count {
        padding-bottom: 230px;
    }

    section.mob-pad{
        padding:0 20px;
    }

    .mp-big{
        background-size: 141%;
        background-position: -46px 99px;
        padding: 7px 42px 31px 23px;
    }

    .mp-box > p {
        padding: 0 61px 0 7px;
        line-height: 19.2px;
        margin-top: -2px;
        margin-bottom: 23px;
    }

    .mp-level-two .mp-big{
        background-image: url(assets/img/temp/main-promo-soud.png);
        background-size: 203%;
        background-position: 135px 19px;
        padding: 29px 153px 37px 30px;
        margin-bottom: -3px;
    }

    .mp-small:first-child {
        background-position: left bottom;
        background-size: 95%;
        padding: 31px 18px 15px 31px;
    }

    .mp-small:last-child {
        background-position: right 0;
        background-size: 100%;
    }
    .mp-link-add{
        margin-bottom:29px;
    }

    section.main-news {
        padding: 22px 15px 10px 14px;
        margin-bottom: 23px;
    }

    section.main-news h2 {
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.07em;
    }

    section.main-news .mn-box {
        margin-top: 10px;
    }

    section.main-news .mn-box p {
        padding: 0 19px 17px 20px;
    }

    .mn-box span {
        top: 80px;
        left: 18px;
    }

    .all-news-mob {
        width: 100%;
        max-width: 326px;
        margin: 20px auto 18px;
        display: block;
        color: #888888;
        font-weight: 800;
        font-size: 13px;
        background: #fff;
        border-radius: 50px;
        padding: 8px 0;
        border: 1px solid;
        text-align: center;
        font-weight: bolder;
    }

    .all-news-mob .ic-news {
        margin: -5px 4px 0 -13px;
    }

    .responsive-products .pi-5{margin-bottom: 5px;}
    .half-color{     margin-bottom: 10px;}
    .main-half-color .half-color .background{width: 50%}
    .half-color img{top: 24px;     right: 14px;}
    .main-half-color { margin-top: 5px;}
    .main-cycle-icon .footer-slick-slider{padding-top: 0;margin-top: 29px;}
    .main-cycle-icon .footer-slick-slider + .slick-pagination{margin-top: -23px;margin-bottom: 0px;}
    .ms-box {
        margin: 11px 0 10px -5px;
    }

    .ms-box span {
        float: none;
        margin: -5px 0 0 27px;
    }

    .main-cycle-icon .container {
        padding-bottom: -5px;
    }
    .main-cycle-icon  .separator {
        margin: 25px -20px 11px;
    }

    .all-stocks-mob {
        width: 100%;
        max-width: 326px;
        margin: 13px auto 18px;
        display: block;
        color: #888888;
        font-weight: 800;
        font-size: 13px;
        background: #fff;
        border-radius: 50px;
        padding: 8px 0px 8px;
        border: 1px solid;
        text-align: center;
        font-weight: bolder;
        line-height: 15px;
        text-transform: lowercase;
    }

    .all-stock .ic-stock {
        margin: -3px 1px 0 -7px;
    }

    .main-stock .separator {
        margin: 0 -20px;
    }

    .ms-box img {
        margin-top: 6px;
    }


    .products-rows .product-item {
        padding: 20px;
    }

    .products-rows .product-item img {
        position: static;
        display: block;
        margin: 12px auto;
    }

    .products-rows .product-item .sale {
    }

    .products-rows .product-item .art {
        position: static;
    }

    .products-rows .product-item .product-rate {
        position: static;
    }

    .products-rows .product-item .price {
        position: static;
    }

    .products-rows .product-item .add-to-check {
        top: 18px;
        right: 20px;
        left: initial;
    }

    .products-rows .product-item .add-to-cart {
        bottom: 47px;
        right: 20px;
    }

    .sa-main .col-lg-4 {
        padding-right: 0;
    }

    .orderfail .checkbox-group {
        padding-top: 7px;
        padding-left: 3px;
        padding-bottom: 0;
        padding: 7px 3px 0 3px;
    }

    .orderfail .checkbox-group > li {
        padding-top: 3px;
    }
    .form-orderfail .form-inner label {
        padding: 4px 0 15px;
    }

    .form-orderfail .form-inner textarea {
        height: 100px;
        width: 99%;
        margin-bottom: 13px;
    }

    .form-orderfail .form-inner .btn-primary {
        height: 50px;
        width: 100%;
    }

    .unsubscribe-page .form-inner {
        padding: 26px 21px 29px 30px;
        line-height: 20px;
    }

    .unsubscribe-form .radio-group.unsubscribe {}

    .radio-group.unsubscribe {
        padding: 6px 5px 24px;
    }

    .unsubscribe-page .radio-group.unsubscribe li {
    }

    .unsubscribe.radio-group > li  > span.title {
        margin-left: 20px;
    }

    .unsubscribe-page input.btn.btn-primary {
        height: 49.9px;
        margin-left: 1px;
        width: 96%;
    }

    section.unsubscribe-page {
        margin-bottom: -23px;
    }
    .sitemap h1 {
        padding: 25px 0 15px;
    }

    section.sitemap .sitemap-list {
        padding: 0 0 40px 0;
    }

    .sitemap-list h2 {
        padding: 17px 25px 0;
    }

    .sitemap-list ul {
        padding: 1px 25px;
    }

    .mob-pt-9{padding-top:9px;}

    .cat-item {
        width: 100%;
    }
	.subscription input[type="submit"] {
		max-width:  320px ;
	}

	.sub-cont {
		max-width: 320px;
	}

	.cart .cart-form-radio-mess form {
		padding: 25px 30px;
		position: absolute;
		width: calc(100% + 45px);
		left: 0;
		max-width: 300px !important;
		margin: 10px 0;
	}

	.action-recomended.onhover {}

	.action-recomended.onhover {
		width: 100%;
		left: 0;
	}

	.action-recomended .r-goods .product-item {
		width: 100%;
		float: none;
	}

	.r-goods .product-item .add-to-cart {
		position: static;
		display: block;
		float: none;
		margin: 0 auto 30px;
	}

	.r-goods .product-item .info {
		position: static;
		float: none;
	}

    input.-selector, input.date-input {   
        font-size: 11px !important;
    }
	
	#form-order .container {
	   margin: 20px;
	   padding: 0;
	}	
	#form-order .container .container {
	   margin: 0;
	}
    .cart-items .cart-item .-img {
        width: 90px;
    }
    .cart-items .cart-item .-img img {
        max-height: auto;
        height: auto;
    }
    .cart-items .cart-note::before {
        margin-left: -25px;
    }
	.cart-items .cart-item .-body {
	   width: calc(100% - 100px);
	   padding-right: 0;
	}
	
	.cart-items.container .items, .container.auth-block .-login, .container.step-receipt .box-content, .container.step-payment .box-content, .container.step-balls .box-content {
	   width: calc(100% - 40px);
	}
	
	.cart-items .cart-item .-price {
	   width: auto;
	   padding-top: 20px;
	}
	
	.container.auth-block {
	   flex-direction: column;
	}
    .container.auth-block .-root-fix { display: block !important; width: calc(100% - 40px); margin-left: 0; } 
    .container.auth-block .-root-fix .box-content { padding-top: 40px; }
    .-registration h6 { padding-top: 20px; }
    .no-reg .white-button { font-size: 15px; line-height: 48px; }
    
    .form-elements .two-cheсkbox {
        flex-direction: column;
    }
    .form-elements .two-cheсkbox label.-radio {
        width: 100%;
    }
    .form-elements label.-radio .block>b { line-height: 30px; }
    
    .form-elements .checkline {
        flex-direction: column;
        padding-right: 0; 
    }
    .form-elements .checkline a.forgot-pass {
        font-size: 15px;
        margin: -6px 0 10px 0;
    }
    #form-order .form-elements .checkbox-group { padding-bottom: 0; }
    .form-elements .login-button { flex-direction: column; }
 
    .form-elements .login-button .recaptcha,
    a.set-login { width: 100%;  text-align: center; }
    
    .form-elements .-tab.visible.-tab-pickup {
        display: block;
    }
    .form-elements .-tab.visible.-tab-pickup .pickup-info { width: auto; }
    .form-elements .-tab.visible.-tab-pickup .-map { width: auto; }
    .form-elements .-tab.visible.-tab-pickup .-map a.onmap { display: none; }
    .form-elements  a.onmap.-mmb { display: inline-block; }
    .form-elements .-tab.visible.-tab-pickup a.next-step { position: static; display: block; width: 100%;}
    .form-elements .-tab.visible.-tab-pickup a.get-shop { 
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
        font-size: 17px;
    }
    .box-header {
        max-width: calc(100% - 20px);
        line-height: 30px;
    }
    .box-header>span { line-height: inherit; }
    .form-elements label.-radio input + .block { padding: 20px 10px 20px 55px; }
    .form-elements label.-radio .block::before { left: 15px; }
    .form-elements label.half-wide { width: 100%; }
    .form-elements label.half-wide.right-part { padding-left: 0; margin-left: 0;}
    .form-elements label.half-wide.form-info,
    .form-elements label.half-wide.form-info.-jur { padding-top: 0; margin-left: 25px; padding-left: 0; margin-bottom: 15px;}
    .form-elements label.half-wide.form-info::before,
    .form-elements label.half-wide.form-info.-jur::before { left: -25px; top: 1px;}
    .form-bottom>a { width: 100%; }
    .step-balls .form-elements .blue-button,
    .step-balls .form-elements .white-button { width: 100%; margin: 15px 0 0 0; }
    .step-balls .form-elements input { width: 100%; }
    .promo-footer {
        margin: 10px -23px 0 -23px;
        padding-left:47px;
    }
    .promo-footer::before { margin-left: -23px; }
    .-tab .delivery-header a    { margin-bottom: 20px; margin-left: 25px; }
    .-tab .delivery-header { flex-direction: column; }
}

@media(max-width: 375px){
    .cart .cart-form-radio-mess form {
        padding: 25px 30px;
        position: absolute;
        left: 0;
        max-width: 300px !important;
        margin: 20px auto;
        width: 100%;
    }
    .fake-placeholder > span {
        font-size: 12px;
    }
	.pagination {
		padding-top:20px
	}
	.pagination a, .pagination span {
		padding: 9px 10px;
		font-size: 11px;
	}
	.radio-group.radio-small > li > span.title {
		max-width: 100px;
		font-size: 10px;
	}

}


@media (min-width: 769px) {
    header.simple .top-wrapp,
    header.simple .top-wrapp .container,
    header.simple .wrapp-top {
        background: #2673c2;
        height: 55px;
        line-height: 55px;
        
    }
    header.simple .bottom-wrapp {
        height: 0 !important;
    }
    header.simple .bottom-header .wrapp-l-t-m .l-t {
        display: none;
    }
    header.simple .bottom-header .wrapp-l-t-m .l-t-m .catalog__btn._active+.category {
        top: 0;
    }
    header.simple .bottom-header .bottom-main-header {
        display: none;
    }
    header.simple .left-side {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    header.simple a.logo-s {
        height: 55px;
        width: 110px;
        background: transparent url("/i/simple-logo.png") center center no-repeat;
        display: inline-block;
        transition: opacity .1s ease;
    }
    header.simple a.logo-s:hover {
        opacity: .8;
    }
    
    header.simple .top-header .link-menu li:not(._js-dismiss) {
        display: none;
    }
    header.simple .wrapp-top .select-city a { 
        color: #ffffff;
    }
    header.simple .wrapp-top .select-city a svg path[fill=black] { fill: #ffffff; }
    header.simple .top-header .right-side {
        width: 100%;
    }
    header.simple .top-header .user-menu li.wr_auth-done {
        max-width: 250px;
        min-width: 150px;
    }
    header.simple .top-header .user-menu li.wr__callback, header .top-header .user-menu li.wr__tel {
        display: block !important;
    }
    header.simple .top-header .user-menu li.wr_auth-done a {
        padding-right: 18px;
    }
    header.simple .top-header .user-menu {
        justify-content: flex-end;
    }
    header.simple .top-header .user-menu>li>a,
    header.simple .top-header .user-menu>li>.link>a {
        color: #ffffff;
    }
    header.simple .top-header .user-menu li.wr__callback a  {
        display: inline-block;
        border-bottom: 1px dashed #ffffff;
    }
    header.simple .top-header .user-menu li.wr_auth-done::before {
        background: linear-gradient(to right, rgba(38, 115, 194, 0) 0, #2673c2 30%, #2673c2 100%);
    }
    header.simple .top-header .user-menu li.wr_auth-done:after {
        background-image: url(/i/icon_arrow_down_white.svg);
    }
    header.simple .top-header .with-drop .submenu   {
        z-index: 50;   
    }
}