.search-info {
	font-size: 15.2px;
    font-weight: bold;
}
.search-info > span {color:#999; text-decoration: underline;}
.search-tags {
	padding: 20px 0 0;
    overflow: hidden;
    margin: 0;
}
.search-tags li {
	display: inline-block;
    font-size: 13px;
    padding: 0 17px 0 0;
    float: left;
    line-height: 22px;
}
.search-tags li > a{
	display: inline-block;
	color:#777;
}
.search-tags li > a:hover {
	color:#000;
	text-decoration: none;
}
.search-tags li > a > span {
	display: inline-block;
	padding:0 0 0 4px;
}
.search-results .list {
	border-bottom: 1px solid #eaeaea;
}
.search-results .page-showmore > a{
	color:#777;
	font-weight: bold;
}
.search-results .page-showmore > a:hover{
	color:#2773BF;
}
.search-results-header {
	padding: 20px 60px 20px 40px;
    position: relative;
	display:block;
}
.search-results-header.opener:after {
	position: absolute;
    right: 25px;
    top: 50%;
    content: '';
    margin-top: -15px;
    width: 30px;
    height: 30px;
    background: url('../img/arrow-right.png') no-repeat;
	-o-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.search-results-header.opener.collapsed:after {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
.search-results-header.opener:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.search-results-header .title {
	font-size: 23px;
}
.search-results-header .count {
	font-size: 25px;
}

@media(max-width: 425px ){ /* xs */

	.box.search-mobile {
		margin:0;
		padding-bottom: 10px;
	}
	
	.box.search-mobile .search-tags {
		display:none;
	}
}