@media (max-width: 1000px) {
    .sa-main .col-lg-4 {
        padding-right: 0px;
    }
    .sa-main .col-lg-4 {
        padding-bottom: 10px;
    }
}

.sa-main{
    margin-bottom:40px;
}
.sa-main .container-fluid{
    padding:0 0 0 0;
}
.sa-main .box{
    padding: 30px 30px;
    margin-bottom:0px;
}
.sa-main .col-lg-10,.sa-main .col-lg-4,.sa-main .col-lg-2{
    padding:0px;
}
.sa-main .col-lg-4{
    padding-right:8px;  
}
.sa-title{
    width:100%;
}
.sa-title h1{
    padding:16px 0px 22px 0px;
    margin:0px;
}
.sa-selection-wrapper .dropdown-select{
    width:100%;
}
.sa-button-wrapper .btn{
    width:100%;
    font-size: 15px;
    padding: 9px 15px;
    text-transform: capitalize;
}
.sa-button-wrapper .btn:hover,.sa-button-wrapper .btn:focus{
    text-decoration:none;
}
.sa-results-wrapper{
    margin-top:10px;
}
.sa-hello{
    padding: 118px 0 160px 0;
    text-align:center;
}
.sa-hello-icon{
    width: 116px;
    height: 116px;
    display: inline-block;
    -webkit-border-radius: 58px;
    -moz-border-radius: 58px;
    border-radius: 58px;
}
.sa-hello-icon.i-phone{
    background: #f5f5f5 url(../img/icon-sa-phone-big.png) center center no-repeat;
}
.sa-hello-icon.i-printer{
    background: #f5f5f5 url(../img/icon-sa-printer-big.png) center center no-repeat;
}
.sa-hello-text{
    font-size:15px;
    font-weight:bold;
    margin-top: 28px;
    line-height: 20px;
}

.sa-results{
    display:none;
}


.sa-results-title{
    padding:20px 30px 22px 30px;
}
.sa-results-title h3{
    padding:0;
    margin:0;
    font-size:23px;
    font-weight:normal;
}
.sa-results-title h3 a{
    color:#2673c2;
}

@media (max-width: 768px) {
    .sa-main{
        padding:0px 20px;
    }
    .sa-title{
        padding: 10px 0px 0px 0px;
    }
    .sa-title h1{
        font-size: 23px;
        padding:16px 0px 13px 0px;
    }
    .sa-maket{
        position:absolute;
        top:306px;
        left:0px;
        opacity:0.5;
        display:none;
        display:block;
    }
    .sa-main .col-lg-4{
        padding-bottom:10px;
    }
    .sa-button-wrapper .btn{
        font-size: 15px;
        text-transform: capitalize;
    }
    .sa-results-title{
        padding-bottom: 24px;
    }
    .sa-results-title h3{
        font-size: 19px;
        line-height: 24px;
    }
    .sa-hello{
        padding: 5px 0 37px 0;
    }
    .sa-results-wrapper{
        margin-top:0px;
    }
    .sa-results{
        margin-top:10px;
    }
    .sa-hello-text{
        margin-top:22px;
    }
}