.sitemap-list div.h2 {
    margin: 0;
    padding: 0 0 1px 36px;
    font-size: 15.4px;
}

.sitemap-list {
	padding: 36px 0 60px;
}

.sitemap-list ul {
    list-style: none;
    font-size: 11px;
    margin: 0;
    padding: 0 0 0 37px;
    line-height: 20px;
	color:#999;
	margin-bottom: 36px;
}
.sitemap-list ul a {
	color:#999;
}
.sitemap-list ul a:hover {
	color:#26b;
}