@media(max-width:719px) {
    .window#avail-notify .body .-form .line label:empty {
        display: none;
    }
    .window#avail-notify {
        width: calc(100vw - 40px) !important;
    }
    .window#avail-notify .body .-form .line a.-send { width: 100% !important; display: block !important; }
    .window#avail-notify .body .info { padding: 0 !important; }
    .window#avail-notify .body .-form .line input { width: 100% !important; }
    .window#avail-notify .body .-form .line label { line-height: 20px !important; }
    .window#avail-notify .body p { font-size: 13px !important; }
    .window#avail-notify .header { line-height: 28px !important; }
}