html._lock,
body._lock{overflow: hidden;}

/* catalog common */

/*.catalog ul{margin: 0; padding: 0; list-style: none;}
.catalog ul a{color: #000; text-decoration: none;}
.catalog ul a:hover{color: #2673c2; text-decoration: none;}
.catalog ul a span{color: #888;}

.catalog__btn{position: relative; display: block; height: 49px; padding: 14px 46px; font-size: 15px; font-weight: 400; color: #FFF; background: #2673c2; transition: all 0.3s ease;}
.catalog._main .catalog__btn{float: left; width: 186px;}
.catalog._mobile .catalog__btn{margin: 80px 20px 0;}
.catalog__btn:hover{color: #FFF; background: #2566af; text-decoration: none;}
.catalog__btn:before,
.catalog__btn:after{content: ''; position: absolute; transition: all 0.3s ease;}
.catalog__btn:before{width: 13px; height: 14px; background: url(/img/icon-set.png) 0 -21px no-repeat; left: 20px; top: 16px;}
.catalog__btn:after{width: 9px; height: 5px; background: url(/img/icon-set.png) -15px 0 no-repeat; right: 19px; top: 22px;}
.catalog._active .catalog__btn:after{transform: rotate(180deg);}

.catalog__content{background: #FFF; box-shadow: 0 0 25px -5px rgba(0,0,0,0.5); z-index: -1; opacity: 0; transition: all 0.3s ease;}
.catalog._main .catalog__content{display: flex; position: absolute; top: 100%; width: 100%;}
.catalog._mobile .catalog__content{position: fixed; left: 0; top: 0; right: 0; bottom: 0;}
.catalog._active .catalog__content{z-index: 999; opacity: 1;}*/

/* catalog main */

/*.catalog__main{flex: 0 1 32%; max-width: 32%; border-right: 1px solid #EBEBEB;}
.catalog__sub{flex: 0 1 68%; max-width: 68%; padding: 30px 20px;}*/

/*.catalog__main ul{}
.catalog__main ul > li{margin-bottom: 1px;}
.catalog__main ul > li > a{position: relative; display: block; padding: 16px 40px 16px 65px !important; font-weight: 600; transition: all 0.3s ease;}
.catalog__main ul > li > a._active{color: #2673c2; background: #F4F4F4;}
.catalog__main ul > li > a._childs:after{content: ''; position: absolute; top: 50%; right: 15px; margin-top: -2px; width: 7px; height: 5px; background: url(/img/icon-set.png) 0 0 no-repeat; transform: rotate(-90deg);}
.catalog__main ul > li > a > img{position: absolute; left: 17px; top: 50%; max-width: 30px; max-height: 30px; transform: translateY(-50%);}

.catalog__sub > div{position: relative; height: 0; opacity: 0; transition: all 0.3s ease; overflow: hidden;}
.catalog__sub > div._active{height: auto; opacity: 1;}
.catalog__sub > div > ul{float: left; width: 33%;}
.catalog__sub > div > ul > li{padding: 0 20px 20px 0;}
.catalog__sub > div > ul > li > a{font-weight: 600;}
.catalog__sub > div > ul > li > a:hover{}
.catalog__sub > div > ul > li > div{padding-left: 20px; font-size: 11px;}
.catalog__sub > div > ul > li > div > ul{}
.catalog__sub > div > ul > li > div > ul > li{padding: 10px 20px 0 0;}
.catalog__sub > div > ul > li > div > ul > li > a{}
.catalog__sub > div > ul > li > div > ul > li > a:hover{}*/

/* catalog mobile */

/*.catalog__back{position: absolute; z-index: 1; left: 0; top: 0; right: 0; display: block; padding: 14px 40px; font-size: 15px; font-weight: 400; color: #FFF; background: #2673c2;}
.catalog__back:hover{color: #FFF; background: #2566af; text-decoration: none;}
.catalog__back:after{content: ''; position: absolute; display: block; width: 9px; height: 5px; background: url(/img/icon-set.png) -15px 0 no-repeat; left: 19px; top: 22px; transform: rotate(90deg);}*/

/*.catalog__pages{position: absolute; z-index: 1; left: 0; top: 50px; right: 0; bottom: 0;}
.catalog__page{position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow-y: scroll; transition: all 0.3s ease;}
.catalog__page._prev{transform: translateX(-30%); opacity: 0;}
.catalog__page._current{transform: translateX(0); opacity: 1;}
.catalog__page._next{transform: translateX(30%); opacity: 0;}

.catalog__page ul{}
.catalog__page ul ul{display: none;}
.catalog__page ul > li{}
.catalog__page ul > li > a{display: block; padding: 12px 30px 12px 16px; border-bottom: 1px solid #E5E5E5; position: relative;}
.catalog__page ul._img > li > a{padding-left: 65px;}
.catalog__page ul > li > a._childs:after{content: ''; position: absolute; top: 50%; right: 15px; margin-top: -2px; width: 7px; height: 5px; background: url(/img/icon-set.png) 0 0 no-repeat; transform: rotate(-90deg);}
.catalog__page ul > li > a > img{position: absolute; left: 17px; top: 50%; max-width: 30px; max-height: 30px; transform: translateY(-50%);}*/
	
@media (min-width: 1000px)
{
	.catalog._main .catalog__content{width: calc(100% + 205px);}
}
	
@media (min-width: 768px)
{
	.catalog._mobile{display: none;}
}