#products-list .price-block .sp-inline-rating {
    position: absolute;
    min-height: 18px;
}

@media (min-width: 991px) {
    #products-list .price-block .sp-inline-rating {
        top: 20px;
        right: 8px;
    }
}

@media (max-width: 990px) { 
    #products-list .price-block .sp-inline-rating { 
        top: 14px;
        left: 20px;
    }
    #products-list .sp-good-review-teaser {
        display: none;
    }
}

.title-block .title {
	font-weight: bold !important;
}


/* карточки товаров - список */

div#products-list.products-rows .price-block .sp-inline-rating{display: none;}
div#products-list.products-rows .info .product-rate{justify-content: flex-start;}

/* карточки товаров - сетка */

div#products-list:not(.products-rows) .product-item.cell{height: 430px;}
div#products-list:not(.products-rows) .product-item.cell .info{height: 85px;}
div#products-list:not(.products-rows) .product-item.cell .info .title-block{overflow: hidden;}
div#products-list:not(.products-rows) .product-item.cell .info .title-block .sp-inline-rating{display: none;}

@media (max-width: 767px)
{
	div#products-list:not(.products-rows) .product-item.cell{height: auto; padding-bottom: 20px;}
	div#products-list:not(.products-rows) .product-item.cell .info{height: auto;}
}

/* звездочки рейтинга у продукта */

.pc-wrapper-right .pc-wrapper-wrapper-head div#sp-inline-rating-container{width: auto; right: -10px; top: 20px;}
.pc-wrapper-right .pc-wrapper-wrapper-head div#sp-inline-rating-container .sp-product-inline-rating-widget{font-size: 0.9em;}

@media (max-width: 768px)
{
	.pc-wrapper-right .pc-wrapper-wrapper-head div#sp-inline-rating-container{margin: 20px 0 -60px; position: static;}
}