<section class="container responsive-products basket-preview-accessories -upd">
    <div class="h2">С товаром обычно покупают
        <div class="ordering">
            <strong>Сортировать по</strong>
            <ul>
                <li><a href="#" class="-order asc">Популярности</a></li>
                <li><a href="#" class="-order desc selected">Цене</a></li>
            </ul>
        </div>
    </div>
    <div class="tags-dropdown">
        <div class="dropdown-select dropdown-border">
            <ul class="search-tags animate-links dropdown-menu extended">
                <li><a href="#" class="active" data-group-id="44" data-group-link="/compatibles/8965143/blok_pitaniya_1563/">Блок питания</a><span class="c-blue">47</span></li>
                <li class="group"><a href="#">Аксессуары для iPhone 5</a><span class="c-blue">47</span>
                    <ul>
                        <li><a href="#" data-group-id="45" data-group-link="#">Крепления на велосипед</a><span class="c-blue">13</span></li>
                        <li><a href="#" data-group-id="44" data-group-link="#">Средства по уходу</a><span class="c-blue">2</span></li>
                        <li><a href="#" data-group-id="45" data-group-link="#">Крепления в авто</a><span class="c-blue">28</span></li>
                    </ul>
                </li>
                <li><a href="#" class="" data-group-id="44" data-group-link="/compatibles/8965143/kabeli_dlya_monitora_44/">Кабели для монитора</a><span class="c-blue">157</span></li>
                <li><a href="#" data-group-id="15630" data-group-link="/compatibles/8965143/blok_pitaniya_1563/">Блок питания</a><span class="c-blue">47</span></li>
                <li class="group"><a href="#" data-group-id="1565" data-group-link="/compatibles/8965143/iphone5accessories_1565/">Аксессуары для iPhone 5</a><span class="c-blue">47</span>
                    <ul>
                        <li><a href="#" data-group-id="1230922" data-group-link="#">Крепления на велосипед</a><span class="c-blue">13</span></li>
                        <li><a href="#" data-group-id="1230923" data-group-link="#">Средства по уходу</a><span class="c-blue">2</span></li>
                        <li><a href="#" data-group-id="1230924" data-group-link="#">Крепления в авто</a><span class="c-blue">28</span></li>
                    </ul>
                </li>
                <li><a href="#" class="" data-group-id="44" data-group-link="/compatibles/8965143/kabeli_dlya_monitora_44/">Кабели для монитора</a><span class="c-blue">157</span></li>
                <li><a href="#" data-group-id="15631" data-group-link="/compatibles/8965143/blok_pitaniya_1563/">Блок питания</a><span class="c-blue">47</span></li>
                <li class="group"><a href="#" data-group-id="1565" data-group-link="/compatibles/8965143/iphone5accessories_1565/">Аксессуары для iPhone 5</a><span class="c-blue">47</span>
                    <ul>
                        <li><a href="#" data-group-id="1230922" data-group-link="#">Крепления на велосипед</a><span class="c-blue">13</span></li>
                        <li><a href="#" data-group-id="1230923" data-group-link="#">Средства по уходу</a><span class="c-blue">2</span></li>
                        <li><a href="#" data-group-id="1230924" data-group-link="#">Крепления в авто</a><span class="c-blue">28</span></li>
                    </ul>
                </li>
                <li><a href="#" class="" data-group-id="44" data-group-link="/compatibles/8965143/kabeli_dlya_monitora_44/">Кабели для монитора</a><span class="c-blue">157</span></li>
                <li><a href="#" data-group-id="15632" data-group-link="/compatibles/8965143/blok_pitaniya_1563/">Блок питания</a><span class="c-blue">47</span></li>

            </ul>
        </div>
    </div>
    <div class="acc-product-items pi-not-top pi-not-first pi-5 for-basket-acc-group-44">
        <div class="pi-hover-wrapper"></div>
        <div class="slick-wrapper" data-group-id="44">
            <div class="product-item cell animate-all" data-product-id="323244">
                <div class="hover"></div>
                <div class="product-img-wrapper va-middle">
                    <a title="Переходник HDMI-mini HDMI Hama H-39861 позолоченные контакты черный" href="/kabeli-hdmi-microhdmi/brand-hama/kabel_hdmi_art8656127/"><img src="//www.123.ru/m_pics/8656127.jpg" /></a>
                </div>
                <div class="info">
                    <div class="title"><a title="Переходник HDMI-mini HDMI Hama H-39861 позолоченные контакты черный" href="/kabeli-hdmi-microhdmi/brand-hama/kabel_hdmi_art8656127/">Переходник HDMI-mini HDMI Hama H-39861 позолоченные контакты черный</a></div>
                    <div class="art">Арт. 8656127
                        <div class="instock-status status-1">В наличии</div>
                    </div>
                    <div class="price"><span>850  р.</span><em>920 р.</em><a href="#" data-link="/basket/add/?id=8656127" data-product-id="8656127" class="btn btn-primary pi-cart add-to-cart animate-all add-to-cart-8656127 no-popup">в корзину</a></div>
                </div>
                <a href="#" class="add-to-check animate-all compare-product-8656127" data-product-id="8656127"></a>
            </div>
            <div class="product-item cell animate-all" data-product-id="207733">
                <div class="hover"></div>
                <div class="product-img-wrapper va-middle">
                    <a title="Кабель HDMI 5.0м VCOM Telecom v1.4 W/Ethernet/3D CG501D-5M с позолоченными контактами" href="/kabeli-hdmi-hdmi/brand-vcom_telecom/kabel_hdmi_kabeli_i_perehodniki_hdmi_telecom_cg501d_5m_hdmi_hdmi_chernyy_art8388567/"><img src="//www.123.ru/m_pics/8388567.jpg" /></a>
                </div>
                <div class="info">
                    <div class="title"><a title="Кабель HDMI 5.0м VCOM Telecom v1.4 W/Ethernet/3D CG501D-5M с позолоченными контактами" href="/kabeli-hdmi-hdmi/brand-vcom_telecom/kabel_hdmi_kabeli_i_perehodniki_hdmi_telecom_cg501d_5m_hdmi_hdmi_chernyy_art8388567/">Кабель HDMI 5.0м VCOM Telecom v1.4 W/Ethernet/3D CG501D-5M с позолоченными контактами</a></div>
                    <div class="art">Арт. 8388567
                        <div class="instock-status status-1">В наличии</div>
                    </div>
                    <div class="price"><span>410  р.</span><a href="#" data-link="/basket/add/?id=8388567" data-product-id="8388567" class="btn btn-primary pi-cart add-to-cart animate-all add-to-cart-8388567 no-popup">в корзину</a></div>
                </div>
                <a href="#" class="add-to-check animate-all compare-product-8388567" data-product-id="8388567"></a>
            </div>
            <div class="product-item cell animate-all" data-product-id="323630">
                <div class="hover"></div>
                <div class="product-img-wrapper va-middle">
                    <a title="Кабель HDMI 1.8м Buro черный HDMI-19M/19M-1.8M-MG" href="/kabeli-hdmi-hdmi/brand-buro/kabel_hdmi_art8656509/"><img src="//www.123.ru/m_pics/8656509.jpg" /></a>
                </div>
                <div class="info">
                    <div class="title"><a title="Кабель HDMI 1.8м Buro черный HDMI-19M/19M-1.8M-MG" href="/kabeli-hdmi-hdmi/brand-buro/kabel_hdmi_art8656509/">Кабель HDMI 1.8м Buro черный HDMI-19M/19M-1.8M-MG</a></div>
                    <div class="art">Арт. 8656509
                        <div class="instock-status status-1">В наличии</div>
                    </div>
                    <div class="price"><span>335  р.</span><a href="#" data-link="/basket/add/?id=8656509" data-product-id="8656509" class="btn btn-primary pi-cart add-to-cart animate-all add-to-cart-8656509 no-popup">в корзину</a></div>
                </div>
                <a href="#" class="add-to-check animate-all compare-product-8656509" data-product-id="8656509"></a>
            </div>
            <div class="product-item cell animate-all" data-product-id="217899">
                <div class="hover"></div>
                <div class="product-img-wrapper va-middle">
                    <a title="Кабель Vcom HDMI 19M/M-угловой коннектор 3м, 1.4V позолоченные контакты &lt;VHD6260D-3MB&gt;" href="/kabeli-hdmi-hdmi/brand-vcom_telecom/vcom_vhd6260d_3mb_art8083703/"><img src="//www.123.ru/m_pics/8083703.jpg" /></a>
                </div>
                <div class="info">
                    <div class="title"><a title="Кабель Vcom HDMI 19M/M-угловой коннектор 3м, 1.4V позолоченные контакты &lt;VHD6260D-3MB&gt;" href="/kabeli-hdmi-hdmi/brand-vcom_telecom/vcom_vhd6260d_3mb_art8083703/">Кабель Vcom HDMI 19M/M-угловой коннектор 3м, 1.4V позолоченные контакты <VHD6260D-3MB></a></div>
                    <div class="art">Арт. 8083703
                        <div class="instock-status status-1">В наличии</div>
                    </div>
                    <div class="price"><span>1 010  р.</span><a href="#" data-link="/basket/add/?id=8083703" data-product-id="8083703" class="btn btn-primary pi-cart add-to-cart animate-all add-to-cart-8083703 no-popup">в корзину</a></div>
                </div>
                <a href="#" class="add-to-check animate-all compare-product-8083703" data-product-id="8083703"></a>
            </div>
            <div class="product-item cell animate-all" data-product-id="205816">
                <div class="hover"></div>
                <div class="product-img-wrapper va-middle">
                    <a title="Кабель HDMI 15м Gembird v1.4 экранирование CC-HDMI4-15M" href="/kabeli-hdmi-hdmi/brand-gembird/kabel_hdmi_kabeli_i_perehodniki_hdmi_gembird_cc_hdmi4_15m_hdmi_hdmi_chernyy_art8387233/"><img src="//www.123.ru/m_pics/8387233.jpg" /></a>
                </div>
                <div class="info">
                    <div class="title"><a title="Кабель HDMI 15м Gembird v1.4 экранирование CC-HDMI4-15M" href="/kabeli-hdmi-hdmi/brand-gembird/kabel_hdmi_kabeli_i_perehodniki_hdmi_gembird_cc_hdmi4_15m_hdmi_hdmi_chernyy_art8387233/">Кабель HDMI 15м Gembird v1.4 экранирование CC-HDMI4-15M</a></div>
                    <div class="art">Арт. 8387233
                        <div class="instock-status status-1">В наличии</div>
                    </div>
                    <div class="price"><span>1 170  р.</span><a href="#" data-link="/basket/add/?id=8387233" data-product-id="8387233" class="btn btn-primary pi-cart add-to-cart animate-all add-to-cart-8387233 no-popup">в корзину</a></div>
                </div>
                <a href="#" class="add-to-check animate-all compare-product-8387233" data-product-id="8387233"></a>
            </div>
            <div class="product-item cell animate-all" data-product-id="320071">
                <div class="hover"></div>
                <div class="product-img-wrapper va-middle">
                    <a title="Кабель HDMI - microHDMI 3.0м Buro MICROHDMI-HDMI-3 черный" href="/accessories/aksessuary_dlya_planshetov/kabeli_i_perehodniki/brand-buro/kabel_perehodnik_art8653006/"><img src="//www.123.ru/m_pics/8653006.jpg" /></a>
                </div>
                <div class="info">
                    <div class="title"><a title="Кабель HDMI - microHDMI 3.0м Buro MICROHDMI-HDMI-3 черный" href="/accessories/aksessuary_dlya_planshetov/kabeli_i_perehodniki/brand-buro/kabel_perehodnik_art8653006/">Кабель HDMI - microHDMI 3.0м Buro MICROHDMI-HDMI-3 черный</a></div>
                    <div class="art">Арт. 8653006
                        <div class="instock-status status-1">В наличии</div>
                    </div>
                    <div class="price"><span>720  р.</span><a href="#" data-link="/basket/add/?id=8653006" data-product-id="8653006" class="btn btn-primary pi-cart add-to-cart animate-all add-to-cart-8653006 no-popup">в корзину</a></div>
                </div>
                <a href="#" class="add-to-check animate-all compare-product-8653006" data-product-id="8653006"></a>
            </div>
            <div class="pages-navigation">
                <div class="show-more" data-link="/compatibles/8965143/blok_pitaniya_1563/page-2/"><a href="#">Показать еще <span>17</span> товаров</a></div>
                <ul class="pages-list">
                    <li class="current"><span>1</span></li>
                    <li><a href="/compatibles/8965143/blok_pitaniya_1563/page-2/" data-pager="2" data-items-count="17">2</a></li>
                    <li class="arrow right">
                        <a href="/compatibles/8965143/blok_pitaniya_1563/page-2/" data-pager="2" data-items-count="17"></a>
                    </li>
                </ul>
            </div>

        </div>
        
    </div>
    <div class="acc-product-items pi-not-top pi-not-first pi-5 for-basket-acc-group-45" style="display: none;">
        <div class="pi-hover-wrapper"></div>
        <div class="slick-wrapper" data-group-id="45">
            <div class="product-item cell animate-all" data-product-id="323630">
                <div class="hover"></div>
                <div class="product-img-wrapper va-middle">
                    <a title="Кабель HDMI 1.8м Buro черный HDMI-19M/19M-1.8M-MG" href="/kabeli-hdmi-hdmi/brand-buro/kabel_hdmi_art8656509/"><img src="//www.123.ru/m_pics/8656509.jpg" /></a>
                </div>
                <div class="info">
                    <div class="title"><a title="Кабель HDMI 1.8м Buro черный HDMI-19M/19M-1.8M-MG" href="/kabeli-hdmi-hdmi/brand-buro/kabel_hdmi_art8656509/">Кабель HDMI 1.8м Buro черный HDMI-19M/19M-1.8M-MG</a></div>
                    <div class="art">Арт. 8656509
                        <div class="instock-status status-1">В наличии</div>
                    </div>
                    <div class="price"><span>335  р.</span><a href="#" data-link="/basket/add/?id=8656509" data-product-id="8656509" class="btn btn-primary pi-cart add-to-cart animate-all add-to-cart-8656509 no-popup">в корзину</a></div>
                </div>
                <a href="#" class="add-to-check animate-all compare-product-8656509" data-product-id="8656509"></a>
            </div>
            <div class="product-item cell animate-all" data-product-id="323244">
                <div class="hover"></div>
                <div class="product-img-wrapper va-middle">
                    <a title="Переходник HDMI-mini HDMI Hama H-39861 позолоченные контакты черный" href="/kabeli-hdmi-microhdmi/brand-hama/kabel_hdmi_art8656127/"><img src="//www.123.ru/m_pics/8656127.jpg" /></a>
                </div>
                <div class="info">
                    <div class="title"><a title="Переходник HDMI-mini HDMI Hama H-39861 позолоченные контакты черный" href="/kabeli-hdmi-microhdmi/brand-hama/kabel_hdmi_art8656127/">Переходник HDMI-mini HDMI Hama H-39861 позолоченные контакты черный</a></div>
                    <div class="art">Арт. 8656127
                        <div class="instock-status status-1">В наличии</div>
                    </div>
                    <div class="price"><span>850  р.</span><a href="#" data-link="/basket/add/?id=8656127" data-product-id="8656127" class="btn btn-primary pi-cart add-to-cart animate-all add-to-cart-8656127 no-popup">в корзину</a></div>
                </div>
                <a href="#" class="add-to-check animate-all compare-product-8656127" data-product-id="8656127"></a>
            </div>
            <div class="product-item cell animate-all" data-product-id="207733">
                <div class="hover"></div>
                <div class="product-img-wrapper va-middle">
                    <a title="Кабель HDMI 5.0м VCOM Telecom v1.4 W/Ethernet/3D CG501D-5M с позолоченными контактами" href="/kabeli-hdmi-hdmi/brand-vcom_telecom/kabel_hdmi_kabeli_i_perehodniki_hdmi_telecom_cg501d_5m_hdmi_hdmi_chernyy_art8388567/"><img src="//www.123.ru/m_pics/8388567.jpg" /></a>
                </div>
                <div class="info">
                    <div class="title"><a title="Кабель HDMI 5.0м VCOM Telecom v1.4 W/Ethernet/3D CG501D-5M с позолоченными контактами" href="/kabeli-hdmi-hdmi/brand-vcom_telecom/kabel_hdmi_kabeli_i_perehodniki_hdmi_telecom_cg501d_5m_hdmi_hdmi_chernyy_art8388567/">Кабель HDMI 5.0м VCOM Telecom v1.4 W/Ethernet/3D CG501D-5M с позолоченными контактами</a></div>
                    <div class="art">Арт. 8388567
                        <div class="instock-status status-1">В наличии</div>
                    </div>
                    <div class="price"><span>410  р.</span><a href="#" data-link="/basket/add/?id=8388567" data-product-id="8388567" class="btn btn-primary pi-cart add-to-cart animate-all add-to-cart-8388567 no-popup">в корзину</a></div>
                </div>
                <a href="#" class="add-to-check animate-all compare-product-8388567" data-product-id="8388567"></a>
            </div>

            <div class="product-item cell animate-all" data-product-id="320071">
                <div class="hover"></div>
                <div class="product-img-wrapper va-middle">
                    <a title="Кабель HDMI - microHDMI 3.0м Buro MICROHDMI-HDMI-3 черный" href="/accessories/aksessuary_dlya_planshetov/kabeli_i_perehodniki/brand-buro/kabel_perehodnik_art8653006/"><img src="//www.123.ru/m_pics/8653006.jpg" /></a>
                </div>
                <div class="info">
                    <div class="title"><a title="Кабель HDMI - microHDMI 3.0м Buro MICROHDMI-HDMI-3 черный" href="/accessories/aksessuary_dlya_planshetov/kabeli_i_perehodniki/brand-buro/kabel_perehodnik_art8653006/">Кабель HDMI - microHDMI 3.0м Buro MICROHDMI-HDMI-3 черный</a></div>
                    <div class="art">Арт. 8653006
                        <div class="instock-status status-1">В наличии</div>
                    </div>
                    <div class="price"><span>720  р.</span><a href="#" data-link="/basket/add/?id=8653006" data-product-id="8653006" class="btn btn-primary pi-cart add-to-cart animate-all add-to-cart-8653006 no-popup">в корзину</a></div>
                </div>
                <a href="#" class="add-to-check animate-all compare-product-8653006" data-product-id="8653006"></a>
            </div>
            <div class="product-item cell animate-all" data-product-id="217899">
                <div class="hover"></div>
                <div class="product-img-wrapper va-middle">
                    <a title="Кабель Vcom HDMI 19M/M-угловой коннектор 3м, 1.4V позолоченные контакты &lt;VHD6260D-3MB&gt;" href="/kabeli-hdmi-hdmi/brand-vcom_telecom/vcom_vhd6260d_3mb_art8083703/"><img src="//www.123.ru/m_pics/8083703.jpg" /></a>
                </div>
                <div class="info">
                    <div class="title"><a title="Кабель Vcom HDMI 19M/M-угловой коннектор 3м, 1.4V позолоченные контакты &lt;VHD6260D-3MB&gt;" href="/kabeli-hdmi-hdmi/brand-vcom_telecom/vcom_vhd6260d_3mb_art8083703/">Кабель Vcom HDMI 19M/M-угловой коннектор 3м, 1.4V позолоченные контакты <VHD6260D-3MB></a></div>
                    <div class="art">Арт. 8083703
                        <div class="instock-status status-1">В наличии</div>
                    </div>
                    <div class="price"><span>1 010  р.</span><a href="#" data-link="/basket/add/?id=8083703" data-product-id="8083703" class="btn btn-primary pi-cart add-to-cart animate-all add-to-cart-8083703 no-popup">в корзину</a></div>
                </div>
                <a href="#" class="add-to-check animate-all compare-product-8083703" data-product-id="8083703"></a>
            </div>
            <div class="product-item cell animate-all" data-product-id="205816">
                <div class="hover"></div>
                <div class="product-img-wrapper va-middle">
                    <a title="Кабель HDMI 15м Gembird v1.4 экранирование CC-HDMI4-15M" href="/kabeli-hdmi-hdmi/brand-gembird/kabel_hdmi_kabeli_i_perehodniki_hdmi_gembird_cc_hdmi4_15m_hdmi_hdmi_chernyy_art8387233/"><img src="//www.123.ru/m_pics/8387233.jpg" /></a>
                </div>
                <div class="info">
                    <div class="title"><a title="Кабель HDMI 15м Gembird v1.4 экранирование CC-HDMI4-15M" href="/kabeli-hdmi-hdmi/brand-gembird/kabel_hdmi_kabeli_i_perehodniki_hdmi_gembird_cc_hdmi4_15m_hdmi_hdmi_chernyy_art8387233/">Кабель HDMI 15м Gembird v1.4 экранирование CC-HDMI4-15M</a></div>
                    <div class="art">Арт. 8387233
                        <div class="instock-status status-1">В наличии</div>
                    </div>
                    <div class="price"><span>1 170  р.</span><a href="#" data-link="/basket/add/?id=8387233" data-product-id="8387233" class="btn btn-primary pi-cart add-to-cart animate-all add-to-cart-8387233 no-popup">в корзину</a></div>
                </div>
                <a href="#" class="add-to-check animate-all compare-product-8387233" data-product-id="8387233"></a>
            </div>

            <div class="pages-navigation">
                <div class="show-more" data-link="/compatibles/8965143/blok_pitaniya_1563/page-2/"><a href="#">Показать еще <span>5</span> товаров</a></div>
                <ul class="pages-list">
                    <li class="current"><span>1</span></li>
                    <li><a href="/compatibles/8965143/blok_pitaniya_1563/page-2/" data-pager="2" data-items-count="5">2</a></li>
                    <li class="arrow right">
                        <a href="/compatibles/8965143/blok_pitaniya_1563/page-2/" data-pager="2" data-items-count="17"></a>
                    </li>
                </ul>
            </div>

        </div>
        
    </div>
    <div class="clearfix"></div>
</section>