@font-face {
    font-family: 'Agora';
    src: url('pfagorasanspro-reg.woff2') format('woff2'),
         url('pfagorasanspro-reg.woff') format('woff'),
         url('pfagorasanspro-reg.ttf') format('truetype'),
         url('pfagorasanspro-reg.svg#pf_agora_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}